<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-3 main-content">
        
            <include file = "Index:aboutBar"/>
  
          </div>
          <div class="col-md-9">
            <div class="well">
              <h3>相关新闻</h3>
              <hr/>

              <div class="panel-body" style="padding:0;">
                <div class="list-group">
                      <foreach name="news" item="vo" >
                          <div class="list-group-item">
                          <a href="{:U('Home/Index/articleDetail')}?article_id={$vo['id']}" >
                            {$vo['title']}
                          </a>
                            <div style="float: right;">
                              
                              <div style="float: right; margin-right:25px;">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <php>echo date('Y-m-d H:i:s',$vo['pub_time'])</php>
                              </div>
                              <!-- <div style="float: right; margin-right:25px;">
                                <span class="glyphicon glyphicon-user"></span>
                                <switch name="vo['institution_type']" >
                                    <case value="1">LP</case>
                                    <case value="2">GP</case>
                                    <case value="3">创业公司</case>
                                    <case value="4">FA</case>
                                    <case value="5">法务服务机构</case>
                                    <case value="6">财务服务机构</case>
                                    <case value="7">众创空间</case>
                                    <case value="8">其它机构</case>
                                    <case value="9">个人</case>
                                    <case value="10">中国母基金联盟</case>
                                </switch>
                                &nbsp;&nbsp;
                                {$vo['author_name']}
                     
                              </div> -->

                            </div>

                   
                          </div>

                      </foreach>
                  

                </div>
              </div>

                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body center">
                    
                      {$page}
                 
                  </div>
                </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>