<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-3 main-content">
        
            <include file = "index:aboutBar"/>
  
          </div>
          <div class="col-md-9">
            <div class="well">
              <h3>
                  <switch name="article_type" >
                        <case value="1">新闻资讯</case>
                        <case value="2">政策法规</case>
                        <case value="3">投资事件</case>
                        <case value="4">联盟活动</case>
                        <case value="5">关于我们</case>
                        <case value="6">法律声明</case>
                        <case value="7">联系我们</case>
                        <case value="8">加入我们</case>
                        <case value="9">联盟介绍</case>
                        <case value="10">组织架构</case>
                        <case value="11">联盟成员</case>
                        <case value="12">秘书长</case>
                        <case value="13">合作伙伴</case>
                        <case value="14">加入联盟</case>
                        <case value="15">合作</case>
                  </switch>
              </h3>
              <hr/>
              <div class="col-md-12">
                  
                    <div style="margin-left: auto;margin-right: auto; display: table;">
                        <h2>{$article['title']}</h2>
                    </div>
                    <div style="float: right;">
                      <div style="float: right; margin-right:25px;"><span class="glyphicon glyphicon-calendar"></span><php>echo date('Y-m-d H:i:s',$article['pub_time'])</php></div>
                      <div style="float: right; margin-right:25px;"><span class="glyphicon glyphicon-user"></span>
                          <switch name="article['institution_type']" >
                            <case value="1">LP</case>
                            <case value="2">GP</case>
                            <case value="3">创业公司</case>
                            <case value="4">FA</case>
                            <case value="5">法务服务机构</case>
                            <case value="6">财务服务机构</case>
                            <case value="7">众创空间</case>
                            <case value="8">其它机构</case>
                            <case value="9">个人</case>
                            <case value="10">中国母基金联盟</case>
                          </switch>
                          &nbsp;&nbsp;
                          {$article['author_name']}

                      </div>
                    </div>
                    
                    <hr/>
                    <div class="row panel-body">
                      <div class='col-md-10 col-md-offset-1'>
                          {$article['content']}
                      </div>
                    </div>
              </div>
               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>