<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-3 main-content">
        
            <include file = "index:aboutBar"/>
  
          </div>
          <div class="col-md-9">
            <div class="well">
              <h3>联盟简介</h3>
              <hr/>
              <div class="col-md-12">
                  <div style="margin-left: auto;margin-right: auto; display: table;">
                    <h2>联盟简介</h2>
                  </div>
                  <div style="float: right;">
                    <div style="float: right; margin-right:25px;">
                      <span class="glyphicon glyphicon-calendar"></span>
                      2016年10月6日
                    </div>
                    <div style="float: right; margin-right:25px;">
                      <span class="glyphicon glyphicon-user"></span>
                      中国母基金联盟
                    </div>
                  </div>

                  <hr/>          
                  <div class="row panel-body">
                    <div class='col-md-10 col-md-offset-1'>
                      dfadfadfadfadfa
                      dfadfadfadfadfadfadfad
                      fadfadfadfadfad
                      fadfadfadfadfad
                      fadfadfadfadfadf
                      adfadfadfadfadfa
                      dfadfadfadfadfaadfa
                      dfadfadfadfadfadf
                      adfadfadfadfadfadfadfadfadfa
                    </div>
                  </div>
              </div>
               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>