              <div class="list-group">
                <a href="{:U('Home/Index/aboutAlliance')}" class="list-group-item"><span class="glyphicon glyphicon-globe"></span>联盟简介</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-sort-by-attributes"></span>组织架构</a>
                <a href="#" class="list-group-item "><span class="glyphicon glyphicon-user"></span>联盟成员</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span>秘书长</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-globe"></span>合作伙伴</a>
                <a href="{:U('Home/Index/aboutAllianceNews')}" class="list-group-item"><span class="glyphicon glyphicon-paperclip"></span>相关新闻</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-check"></span>加入联盟</a>
              </div>