<include file = "layout:header"/>
<include file = "layout:navbar"/>
 <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-10 main-content col-md-offset-1">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      所有新闻
                    </a>
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="list-group">
                      <a href="{:U('Home/Index/newsDetail')}" class="list-group-item">
                        祝贺中国母基金联盟成立了
                        <div style="float: right;">
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-calendar"></span>
                            2016年10月6日
                          </div>
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-user"></span>
                            中国母基金联盟
                          </div>
                        </div>
                      </a>
                      <a href="#" class="list-group-item">
                        祝贺中国母基金联盟成立了
                        <div style="float: right;">
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-calendar"></span>
                            2016年10月6日
                          </div>
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-user"></span>
                            中国母基金联盟
                          </div>
                        </div>
                      </a>
                      <a href="#" class="list-group-item">
                        祝贺中国母基金联盟成立了
                        <div style="float: right;">
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-calendar"></span>
                            2016年10月6日
                          </div>
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-user"></span>
                            中国母基金联盟
                          </div>
                        </div>
                      </a>
                      <a href="#" class="list-group-item">
                        祝贺中国母基金联盟成立了
                        <div style="float: right;">
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-calendar"></span>
                            2016年10月6日
                          </div>
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-user"></span>
                            中国母基金联盟
                          </div>
                        </div>
                      </a>
                      <a href="#" class="list-group-item">
                        祝贺中国母基金联盟成立了
                        <div style="float: right;">
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-calendar"></span>
                            2016年10月6日
                          </div>
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-user"></span>
                            中国母基金联盟
                          </div>
                        </div>
                      </a>
                      <a href="#" class="list-group-item">
                        祝贺中国母基金联盟成立了
                        <div style="float: right;">
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-calendar"></span>
                            2016年10月6日
                          </div>
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-user"></span>
                            中国母基金联盟
                          </div>
                        </div>
                      </a>
                      <a href="#" class="list-group-item">
                        祝贺中国母基金联盟成立了
                        <div style="float: right;">
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-calendar"></span>
                            2016年10月6日
                          </div>
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-user"></span>
                            中国母基金联盟
                          </div>
                        </div>
                      </a>
                      <a href="#" class="list-group-item">
                        祝贺中国母基金联盟成立了
                        <div style="float: right;">
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-calendar"></span>
                            2016年10月6日
                          </div>
                          <div style="float: right; margin-right:25px;">
                            <span class="glyphicon glyphicon-user"></span>
                            中国母基金联盟
                          </div>
                        </div>
                      </a>
                      
                    </div>
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body center">
                    <ul class="pagination">
                      <li class="disabled">
                        <a href="#">上一页</a>
                      </li>
                      <li >
                        <a href="#">
                          1
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li >
                        <a href="#">
                          2
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li class="active">
                        <a href="#">
                          3
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li >
                        <a href="#">
                          4
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li >
                        <a href="#">
                          5
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li >
                        <a href="#">
                          6
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                      <li >
                        <a href="#">
                          下一页
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div><!--新闻列表-->


            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>