<include file = "layout:header"/>
<include file = "layout:navbar"/> 

  <div class="content buyProfile">
    <div class="container">
      <ul class="nav nav-justified masthead-nav">
        <li role="presentation"><a href="__APP__/Home/Buyer/buyProfile">{$Think.lang.dashboard}</a></li>
        <li role="presentation"><a href="__APP__/Home/Buyer/inbox">{$Think.lang.inbox}</a></li>
        <li role="presentation"><a href="__APP__/Home/Buyer/supplier">{$Think.lang.supplier}</a></li>
        <li role="presentation" class="active"><a href="__APP__/Home/Buyer/project">{$Think.lang.project}</a></li>
      </ul>
    </div><!-- container -->
    <br/>
    <div class="content-wrap">
      <div class="container">      
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {$member[0]['project_name']}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <foreach name="list" item="list">
              <li><a href="{$list['id']}">{$list['project_name']}</a></li>
            </foreach>
          </ul>
        </div><!-- dropdown -->
        <br/>
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>{$Think.lang.supplier_name}</th>
                  <th>{$Think.lang.location}</th>                   
                  <th>{$Think.lang.contact_person}</th> 
                  <th></th>                
                </tr>
              </thead>
              <tbody>
                <foreach name="member" item="member">
                  <tr>
                    <td><label class="checkbox-inline">{$member['supplier_name']}</label>
                    <a href="__APP__/Home/Buyer/CheckRifState/id/{$member['supplier_id']}"><i class="fa fa-chain"></i></a></td>
                    <td>{$member['address']}</td> 
                    <td>{$member['connect']}<a href="__APP__/Home/Buyer/viewsupplierPersonalInfo/id/{$member['supplier_id']}"><i class="fa fa-user"></i></a>
                    </td>
                    <td>
                      <a class="btn btn-default" href="__APP__/Home/Buyer/del_member/id/{$member['id']}" role="button">{$Think.lang.deleted}</a>
                      <button class="btn btn-success" type="button" data-toggle="modal" data-target="#sendMessage" onclick="sendmessage(this);" id="{$member['supplier_id']}" name="{$member['connect']}">{$Think.lang.send_in_mail}</button>
                    </td>
                  </tr>
                </foreach>
              </tbody>
            </table>
          </div><!-- panel-body -->
        </div><!-- panel panel-default -->
        <div class="row">
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <a href="__APP__/Home/Buyer/del_project/id/{$id}" class="btn btn-danger" type="button">{$Think.lang.deleted}{$Think.lang.project}</a>
          </div><!-- col-md-3 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- content-wrap -->
  </div><!-- content -->
 <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content"  id="sendletter">
        
      </div>
    </div>
  </div><!-- modal fade -->
  <br/>
<include file = "layout:footer"/>