<include file = "layout:header"/>
<include file = "layout:navbar"/>
<div class="content supplierPersonalInfo">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>{$Think.lang.personal_profile}</h1>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" action="__APP__/Home/Buyer/update_PersonalInfo" enctype="multipart/form-data" method="post" >
              <div class="form-group">
                <label for="personalLogo" class="col-sm-3 control-label">{$Think.lang.upload_photo}({$Think.lang.upload_max})</label>
                <div class="col-sm-8">
                  <a href=""></a>
                  <input type="file" class="form-control" id="personalLogo" name="personalLogo"/>
                </div>
              </div><!--上传头像-->
              <div class="form-group">
                <label for="language" class="col-sm-3 control-label">{$Think.lang.language}</label>
                <div class="col-sm-8">
                  <select name="language" id="language" class="form-control">
                    <option value="1">{$Think.lang.lang_chinese}</option>
                    <option value="2">{$Think.lang.lang_english}</option>
                  </select>
                </div>
              </div><!--默认语言-->
              <div class="form-group">
                <label for="userName" class="col-sm-3 control-label">{$Think.lang.user_name}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="userName" name="username" value="{$user['username']}" />
                </div>
              </div><!--用户名-->
              <div class="form-group">
                <label for="firstname" class="col-sm-3 control-label">{$Think.lang.first_name}</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="firstname" name="firstname" value="{$user['firstname']}" />
                </div>
                <label for="lastname" class="col-sm-2 control-label">{$Think.lang.last_name}</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="lastname" name="lastname" value="{$user['lastname']}" />
                </div>
              </div><!--名、姓-->
              <div class="form-group">
                <label for="firstnameEnglish" class="col-sm-3 control-label">{$Think.lang.first_name}({$Think.lang.lang_english})</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="firstnameEnglish" name="firstname_en" value="{$user['firstname_en']}"/>
                </div>
                <label for="lastnameEnglish" class="col-sm-2 control-label">{$Think.lang.last_name}({$Think.lang.lang_english})</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="lastnameEnglish" name="lastname_en" value="{$user['lastname_en']}" />
                </div>
              </div><!--名、姓(英文)-->
              <div class="form-group">
                <label for="position" class="col-sm-3 control-label">{$Think.lang.position}</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="position" name="title"  value="{$user['title']}" />
                </div>
                <label for="function" class="col-sm-2 control-label">{$Think.lang.function}</label>
                <div class="col-sm-3">
                  <select name="function_id" id="function" class="form-control">
                    <foreach name='fun_list' item='fun'>
                      <if condition="$fun['id'] eq $user['function_id']">
                        <option value="{$fun['id']}" selected>{$fun['name']}</option>
                      <else />
                        <option value="{$fun['id']}">{$fun['name']}</option>
                      </if>
                    </foreach>
                  </select>
                </div>
              </div><!--职位、职能-->
              <div class="form-group">
                <label for="email" class="col-sm-3 control-label">{$Think.lang.email}</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" disabled="disabled" value="{$user['email']}" />
                </div>
              </div><!--电子邮件-->
              <div class="form-group">
                <label class="col-sm-3 control-label">{$Think.lang.telephone}</label>
                <div class="col-sm-2">
                  <select name="tel_country_code_id" id="country_1" class="form-control">
                    <foreach name='cou_list' item='cou'>
                      <if condition="$user['tel_country_code_id'] eq $cou['id']">
                        <option value="{$cou['id']}" selected="selected">
                          {$cou['name']}(+{$cou['code']})
                        </option>
                      <else />
                        <option value="{$cou['id']}">
                          {$cou['name']}(+{$cou['code']})
                        </option>
                      </if>
                    </foreach>
                  </select>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" id="telearea" name="tel_area" value="{$user['tel_area']}" />
                </div>
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="telephone" name="tel_phone" value="{$user['tel_phone']}" />
                </div>
              </div><!--电话号码-->
              <div class="form-group">
                <label class="col-sm-3 control-label">{$Think.lang.fax}</label>
                <div class="col-sm-2">
                  <select name="fax_country_code_id" id="country_3" class="form-control">
                    <foreach name='cou_list' item='cou'>
                      <if condition="$user['fax_country_code_id'] eq $cou['id']">
                        <option value="{$cou['id']}" selected="selected">
                          {$cou['name']}(+{$cou['code']})
                        </option>
                      <else />
                        <option value="{$cou['id']}">
                          {$cou['name']}(+{$cou['code']})
                        </option>
                      </if>
                    </foreach>
                  </select>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="faxarea" name="fax_area" value="{$user['fax_area']}" />
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="fax" name="fax_phone" value="{$user['fax_phone']}" />
                </div>
              </div><!--传真-->
              <div class="form-group">
                <label class="col-sm-3 control-label">{$Think.lang.mobile_phone}</label>
                <div class="col-sm-4">
                  <select name="mobile_country_code_id" id="country_2" class="form-control">
                    <foreach name='cou_list' item='cou'>
                      <if condition="$user['mobile_country_code_id'] eq $cou['id']">
                        <option value="{$cou['id']}" selected="selected">
                          {$cou['name']}(+{$cou['code']})
                        </option>
                      <else />
                        <option value="{$cou['id']}">
                          {$cou['name']}(+{$cou['code']})
                        </option>
                      </if>
                    </foreach>
                  </select>
                </div>
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="phone" name="mobile_phone"  value="{$user['mobile_phone']}" />
                </div>
              </div><!--手机-->
              <div class="form-group">
                <label for="way" class="col-sm-5 control-label">{$Think.lang.selectedin_channel}</label>
                <div class="col-sm-6">
                  <select name="recommended_channel_id" id="way" class="form-control">
                    <foreach name='rec_list' item='rec'>
                    <if condition="$user['recommended_channel_id'] eq $rec['id']">
                      <option value="{$rec['id']}" selected>{$rec['channel']}</option>
                    <else />
                      <option value="{$rec['id']}">{$rec['channel']}</option>
                    </if>
                    </foreach>
                  </select>
                </div>
              </div><!--了解途径-->

              <input type="hidden" name="id" value="{$user['id']}">
           <input type="submit" value="{$Think.lang.finish}" class="btn btn-block btn-primary"/>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<include file = "layout:footer"/>