<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content">
    <div class="container">
      <ul class="nav nav-justified masthead-nav">
        <li role="presentation" class="active"><a href="__APP__/Home/Buyer/buyProfile">{$Think.lang.dashboard}</a></li>
        <li role="presentation"><a href="__APP__/Home/Buyer/inbox">{$Think.lang.inbox}</a></li>
        <li role="presentation"><a href="__APP__/Home/Buyer/supplier">{$Think.lang.supplier}</a></li>
        <li role="presentation"><a href="__APP__/Home/Buyer/project">{$Think.lang.project}</a></li>
      </ul>
    </div><!--导航条-->
    <hr/>
    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{$Think.lang.admin}</div>
                <div class="panel-body">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <if condition="$user['face_url'] neq NULL">
                          <img class="media-object img-thumbnail" src="/selectin/1/Public/uploads/buyer_pic/{$user['face_url']}" alt="头像" height="64" width="64">
                        <else />
                          <img class="media-object img-thumbnail" src="/selectin/1/Public/uploads/buyer_pic/temp.jpg" alt="头像" height="64" width="64">
                        </if>
                      </a>
                    </div>
                    <div class="media-body">
                      <h5 class="media-heading">{$user['username']}</h5>
                      <p><i class="fa fa-envelope-o fa-lg"></i> {$user['email']}</p>
                      <p><i class="fa fa-phone fa-lg"></i> {$user['mobile_phone']}</p>
                      <a class="btn btn-default" href="buyerPersonalInfo" role="button">{$Think.lang.edit_personal_profile}</a>
                    </div>
                  </div>
                </div>
              </div><!--管理员-->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                    <a href="__APP__/Home/Buyer/inbox">
                      {$Think.lang.inbox}
                      <if condition="$amount['unread'] neq 0">
                        <span class="badge">{$amount['unread']}</span>
                      </if>
                    </a>
                  </div>
                </div>
              </div><!--收件箱-->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      {$Think.lang.rfi_to_supplier}
                    </a>
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="list-group">
                      <a href="__APP__/Home/Buyer/supplier" class="list-group-item">{$Think.lang.rfi_waiting_for_response}<span class="badge">{$amount['checking']}</span></a>
                      <a href="__APP__/Home/Buyer/supplier" class="list-group-item ">{$Think.lang.rfi_accepted}<span class="badge">{$amount['accepted']}</span></a>
                      <a href="__APP__/Home/Buyer/supplier" class="list-group-item">{$Think.lang.rfi_declined}<span class="badge">{$amount['rejected']}</span></a>
                    </div>
                  </div>
                </div>
              </div><!--供应商信息邀请-->
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <for start="0" end="3">
                <div class="col-md-4">
                  <div class="well">
                    <if condition="$project[$i] neq NULL">
                      <h4>{$project[$i]['project_name']}</h4>
                      <a class="btn btn-primary" href="__APP__/Home/Buyer/alternateName/id/{$project[$i]['id']}" role="button">{$Think.lang.candidate_list}</a>
                    <else />
                      <h4>{$Think.lang.no_project}</h4>
                     <a class="btn btn-primary" href="__APP__/Home/Buyer/project" role="button">{$Think.lang.create_new_project}</a>
                    </if>
                  </div>
                </div>
              </for>
            </div>
            <div class="well">
              <h3>{$Think.lang.discovering_your_right_suppliers}</h3>
              <div class="row">
                <div class="col-md-4">
                  <a href="__APP__/Home/Search/search" class="thumbnail">
                  <img src="__PUBLIC__/assets_2/img/01.jpg" alt="{$Think.lang.industrial_manufacturing}">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="__APP__/Home/Search/search" class="thumbnail">
                  <img src="__PUBLIC__/assets_2/img/02.jpg" alt="{$Think.lang.industrial_service}">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="__APP__/Home/Search/search" class="thumbnail">
                  <img src="__PUBLIC__/assets_2/img/03.jpg" alt="{$Think.lang.electronic_manufacturing}">
                  </a>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>