<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
              <include file = "individual:individualBar"/>
          </div>
          <div class="col-md-8">
            <div class="well">
              <h3>账号设置</h3>
              <hr/>
              
              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-home"></span>账号信息</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">

                         <div class="row">
                              <div class='col-md-3 text_right'>
                                  昵称:
                              </div>
                              <div class='col-md-8'>
                                  {$user['nickname']}
                              </div>
                          </div>

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  登录邮箱账号:
                              </div>
                              <div class='col-md-8'>
                                  {$user['email']}
                              </div>
                          </div>
                          
                      </div>
                    </div>
                  </div>
              </div>


              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-check"></span>修改密码</h3>
                        <div class="alert alert-danger" role="alert">
                            <form method="post" action="{:U('Home/Individual/set_password')}">
                                <div class='row form-group' >
                                    <div class="col-md-4 text_right">
                                        原密码
                                    </div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" name="oldpassword" placeholder="请填写原密码" required/>
                                    </div>
                                </div>
                                <div class='row form-group' >
                                    <div class="col-md-4 text_right">
                                        新密码
                                    </div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" name="newpassword" placeholder="请填写新密码" required/>
                                    </div>
                                </div>
                                <div class='row form-group' >
                                    <div class="col-md-4 text_right">
                                        重复新密码
                                    </div>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control" name="renewpassword" placeholder="请再次填写新密码" required/>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-info " style="float:right;" value="确认修改"/>
                            </form>
                        </div>
                  </div>
              </div>
               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>