<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
              <include file = "individual:individualBar"/>
          </div>
          <div class="col-md-8">
            <div class="well">
              <h3>个人主页<a href="#"><span class="label label-info margin_left_20">+关注</span></a></h3>
              <hr/>
              
              <div class="row">
                  <div class='col-md-2'>
                      <a href="#">
                        <if condition="$user['face_url'] neq NULL">
                          <img class="media-object img-thumbnail" src="/fofs/1/Public/uploads/individual_pic/default.jpg" alt="头像" height="100" width="100">
                          <else />
                          <img class="media-object img-thumbnail" src="/fofs/1/Public/uploads/individual_pic/default.jpg" alt="头像" height="100" width="100"></if>
                      </a>
                  </div>


                  <div class='col-md-10'>
                      <div class="row">
                          <div class='col-md-2 text_right'>
                              姓名:
                          </div>
                          <div class='col-md-10'>
                              张小凡(一蓑烟雨晴)
                          </div>
                      </div>
                      <div class="row">
                          <div class='col-md-2 text_right'>
                              性别:
                          </div>
                          <div class='col-md-10'>
                              男
                          </div>
                      </div>
                      <div class="row">
                          <div class='col-md-2 text_right'>
                              简介:
                          </div>
                          <div class='col-md-10'>
                              退一步，不一定是海阔天空，可能是万丈深渊
                          </div>
                      </div>
                      <div class="row">
                          <div class='col-md-2 text_right'>
                              行业:
                          </div>
                          <div class='col-md-10'>
                              创业公司
                          </div>
                      </div>

                  </div>
              </div>

              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-tags"></span>从业简历</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">

                          <div class="col-md-12">
                             
                                  北京乐享奇迹信息科技有限公司
                             
                          </div>
                          
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-home"></span>公司信息</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  名称:
                              </div>
                              <div class='col-md-8'>
                                  北京乐享奇迹信息科技有限公司
                              </div>
                          </div>
                          <div class="row">
                            <div class='col-md-3 text_right'>职位:</div>
                            <div class='col-md-8'>打杂的</div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  认证情况:
                              </div>
                              <div class='col-md-8'>
                                <span class="label label-default">未认证</span>(<a href='#'>申请认证</a>)
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>


              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-earphone"></span>联系方式</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  手机:
                              </div>
                              <div class='col-md-8'>
                                  18811593392
                              </div>
                          </div>
                          <div class="row">
                            <div class='col-md-3 text_right'>邮箱:</div>
                            <div class='col-md-8'>shiningworld@foxmail.com</div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  LinkedIn:
                              </div>
                              <div class='col-md-8'>
                                  Romantic_Horizon
                              </div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  新浪微博:
                              </div>
                              <div class='col-md-8'>
                                  Romantic_Horizon
                              </div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  微信:
                              </div>
                              <div class='col-md-8'>
                                  Romantic_Horizon
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>