<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
              <include file = "Individual:individualBar"/>
          </div>
          <div class="col-md-8">
            <div class="well">
              <h3>我的公司</h3>
              <hr/>
              
              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-home"></span>公司信息</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  名称:
                              </div>
                              <div class='col-md-8'>
                                  {$user['company_name']}
                              </div>
                          </div>
                          <div class="row">
                            <div class='col-md-3 text_right'>职位:</div>
                            <div class='col-md-8'>{$user['company_function']}</div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  认证情况:
                              </div>
                              <div class='col-md-8'>
                              <switch name="user['is_authenticated']">
                                  <case value ="1"><span class="label label-info">已认证</span></case>
                                  <default/><span class="label label-default">未认证</span>(<a href='#'>申请认证</a>)
                              </switch>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>

              <if condition="$user['is_authenticated'] eq 0">
                <div class="row margin_top_20">
                    <div class='col-md-12'>
                      <h3><span class="glyphicon glyphicon-check"></span>申请认证</h3>
                      <switch name="user['my_company_exist']">
                        <case value='1'><div class="alert alert-info" role="alert">系统已经检测到你公司已在本网站注册，可发送员工身份请求进行公司认证！<input type="button" class="btn btn-info margin_top_20" value="发送请求验证"/></div></case>
                        <default/><div class="alert alert-danger" role="alert">系统尚未检测到你公司在本网站进行注册，请联系公司先在本网站进行注册！</div>
                      </switch>
                    </div>
                </div>
              </if>
               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>