<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
              <include file = "Individual:individualBar"/>
          </div>
          <div class="col-md-8">
            <div class="well">
              <h3>我的公司</h3>
              <hr/>
              
              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-home"></span>公司信息</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  名称:
                              </div>
                              <div class='col-md-8'>
                                  {$user['company_name']}
                              </div>
                          </div>
                          <div class="row">
                            <div class='col-md-3 text_right'>职位:</div>
                            <div class='col-md-8'>{$user['company_function']}</div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  认证情况:
                              </div>
                              <div class='col-md-8'>
                              <switch name="staff_auth['state']">
                                  <case value ="-1"><span class="label label-info">审核中({$staff_auth['institution_name']})</span></case>
                                  <case value ="1"><span class="label label-info">已认证({$staff_auth['institution_name']})</span></case>
                                  <case value ="2"><span class="label label-warning">被拒绝({$staff_auth['institution_name']})</span></case>
                                  <default/><span class="label label-default">未认证</span>
                              </switch>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>

              <if condition="($staff_auth['state'] neq -1) AND ($staff_auth['state'] neq 1)">
                <div class="row margin_top_20">
                    <div class='col-md-12'>
                      <h3><span class="glyphicon glyphicon-check"></span>申请认证</h3>

                      <div class="row">
                            
                            <form action="{:U('Home/Individual/myCompany')}" method="post">
                            <div class="panel-body well">
                                搜索机构名称进行认证
                                <div class="row">
                                    <div class='col-md-2 text_right' class="form-control" style="margin-top:6px;">
                                        机构类型
                                    </div>
                                    <div class="col-md-10">
                                        <div class='col-md-8 ' >
                                            <select name='institution_type' style="width:100%;height:40px;font-size:14px;color:#999;padding:6px 8px;">
                                              <option value ="0">请选择机构类型</option>
                                              <option value ="1">LP</option>
                                              <option value="2">GP</option>
                                              <option value="3">创业公司</option>
                                              <option value ="4">FA机构</option>
                                              <option value="5">法务机构</option>
                                              <option value="6">财务机构</option>
                                              <option value ="7">众创空间</option>
                                              <option value="8">其它(媒体、政府机构等)</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin_top_13">
                                    <div class="col-md-2 text_right">
                                      机构名称
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-8">
                                          <input class="form-control" name="institution_name" />  
                                        </div>         
                                    </div>
                                </div>

                                <div class="row margin_top_13">
                                    <div class='col-md-2 text_right' style="margin-top:6px;">
                                        
                                   
                                        
                                    </div>
                                    <div class='col-md-9 text_right' >

                                        <input type="submit" value="一键搜索" class="btn btn-info">
                                        
                                    </div>
                                </div>

                            </div>
                         </form>
                      </div>

                      <eq name="search_result['has_result']" value='1'>
                          <div class="alert alert-info">
                            系统已经检测到你公司已在本网站注册，可发送员工身份请求进行公司认证！
                            <div class="row margin_top_13">
                                
                                <div class="col-md-5">
                                  <span class="glyphicon glyphicon-ok-sign"></span>{$search_result['institution_name']}
                                </div>
                                <div class="col-md-3">
                                    <if condition="$search_result['institution_type'] eq 1">LP</if>
                                    <if condition="$search_result['institution_type'] eq 2">GP</if>
                                    <if condition="$search_result['institution_type'] eq 3">创业公司</if>
                                    <if condition="$search_result['institution_type'] eq 4">Fa机构</if>
                                    <if condition="$search_result['institution_type'] eq 5">法务服务机构</if>
                                    <if condition="$search_result['institution_type'] eq 6">财务服务机构</if>
                                    <if condition="$search_result['institution_type'] eq 7">众创空间(孵化器)</if>
                                    <if condition="$search_result['institution_type'] eq 8">其它机构</if>
                                </div>
                                <div class="col-md-4">
                                  <a href="{:U('Home/Individual/send_auth_req',array('institution_type'=>$search_result['institution_type'],'institution_id'=>$search_result['institution_id'],'institution_name'=>$search_result['institution_name']))}"><input type="button" class="btn btn-info" value="发送请求验证"/></a>
                                </div>
                            </div>
                          </div>
                      <else />
                          <div class="alert alert-danger" role="alert">系统尚未检测到你公司在本网站进行注册，请联系公司先在本网站进行注册！</div>
                      </eq>
                    </div>
                </div>
              </if>
               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>