<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
              <include file = "individual:individualBar"/>
          </div>
          <div class="col-md-8">
            <div class="well">
              <h3>我关注的</h3>
              <hr/>
              
              <div class="row margin_top_20">
                  <div class='col-md-12' >
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist" style="padding-left:15px; padding-right: 15px;">
                        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">我关注的个人用户</a></li>
                        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">我关注的机构用户</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                              <div class="panel-body">
                                <div class="list-group">
                                  <div class="list-group-item row form-group">
                                      <div class="col-sm-2 margin_top_13">
                                          1
                                      </div>
                                 
                                      <div class="col-sm-3">
                                        <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >万剑一</a>
                                      </div>
                                      <div class="col-sm-5 text_right margin_top_13">
                                          2016年10月7日关注
                                      </div>
                              
                                  </div>

                                  <div class="list-group-item row form-group">
                                      <div class="col-sm-2 margin_top_13">
                                         2
                                      </div>
                                 
                                      <div class="col-sm-3">
                                        <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >万剑一</a>
                                      </div>
                                      <div class="col-sm-5 text_right margin_top_13">
                                          2016年10月7日关注
                                      </div>
                              
                                  </div>


                                  <div class="list-group-item row form-group">
                                      <div class="col-sm-2 margin_top_13">
                                          3
                                      </div>
                                 
                                      <div class="col-sm-3">
                                        <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >万剑一</a>
                                      </div>
                                      <div class="col-sm-5 text_right margin_top_13">
                                          2016年10月7日关注
                                      </div>
                              
                                  </div>

                                  <div class="list-group-item row form-group">
                                      <div class="col-sm-2 margin_top_13">
                                          4
                                      </div>
                                 
                                      <div class="col-sm-3">
                                        <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >万剑一</a>
                                      </div>
                                      <div class="col-sm-5 text_right margin_top_13">
                                          2016年10月7日关注
                                      </div>
                              
                                  </div>

                                  
                                
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                              <div class="panel-body">
                                <div class="list-group">
                                  <div class="list-group-item row form-group">
                                      <div class="col-sm-2 margin_top_13">
                                          1
                                      </div>
                                 
                                      <div class="col-sm-3">
                                        <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >歌斐资产</a>
                                      </div>
                                      <div class="col-sm-5 text_right margin_top_13">
                                          2016年10月7日关注
                                      </div>
                              
                                  </div>

                                  <div class="list-group-item row form-group">
                                      <div class="col-sm-2 margin_top_13">
                                         2
                                      </div>
                                 
                                      <div class="col-sm-3">
                                        <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >紫荆资本</a>
                                      </div>
                                      <div class="col-sm-5 text_right margin_top_13">
                                          2016年10月7日关注
                                      </div>
                              
                                  </div>

                                  
                                
                                </div>
                            </div>


                        </div>
                      </div>
                  </div>
              </div>

               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>