<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
              <include file = "Gp:individualBar"/>
          </div>
          <div class="col-md-8">
            <div class="well">
              <h3>我关注的</h3>
              <hr/>
              
              <div class="row margin_top_20">
                  <div class='col-md-12' >
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist" style="padding-left:15px; padding-right: 15px;">
                        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">我关注的个人用户</a></li>
                        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">我关注的机构用户</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                              <div class="panel-body">
                                <div class="list-group">
                                    <foreach name="personal_followings" item="vo">
                                        <div class="list-group-item row form-group">
                                            <div class="col-sm-2 margin_top_13">
                                                {$key+1}
                                            </div>
                                       
                                            <div class="col-sm-3">
                                              <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['head_portrait_url']}" alt="头像" height="50" width="50"/>
                                            </div>
                                            <div class="col-sm-2 margin_top_13">
                                                 <a href="#" >{$vo['nickname']}</a>
                                            </div>
                                            <div class="col-sm-3 text_right margin_top_13">
                                              <php>echo date('Y-m-d',$vo['time']);</php>关注
                                            </div>
                                            <div class="col-sm-2 text_right margin_top_13">
                                                <span class="glyphicon glyphicon-envelope"></span><a href="{:U('Home/Gp/sendLetter')}?user_id={$vo['host_id']}&institution_type={$vo['host_type']}&username={$vo['nickname']}">发信</a>
                                            </div>
                                    
                                        </div>
                                    </foreach>

                                  
                                
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                              <div class="panel-body">
                                <div class="list-group">
                                    <foreach name="institution_followings" item="vo">
                                        <div class="list-group-item row form-group">
                                            <div class="col-sm-2 margin_top_13">
                                                {$key+1}
                                            </div>
                                       
                                            <div class="col-sm-3">
                                              <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['institution_logo_img']}" alt="头像" height="50" width="50"/>
                                            </div>
                                            <div class="col-sm-2 margin_top_13">
                                                 <a href="#" >{$vo['institution_abbr']}</a>
                                            </div>
                                            <div class="col-sm-3 text_right margin_top_13">
                                              <php>echo date('Y-m-d',$vo['time']);</php>关注
                                            </div>
                                            <div class="col-sm-2 text_right margin_top_13">
                                                <span class="glyphicon glyphicon-envelope"></span><a href="{:U('Home/Gp/sendLetter')}?user_id={$vo['host_id']}&institution_type={$vo['host_type']}&username={$vo['institution_abbr']}">发信</a>
                                            </div>
                                    
                                        </div>
                                    </foreach>

                                  
                                
                                </div>
                            </div>


                        </div>
                      </div>
                  </div>
              </div>

               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>