<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row margin_top_bottom_20">
          <div class="col-md-4 main-content">
              <include file = "Other:individualBar"/>
          </div>
          <div class="col-md-8">
          <form class="form-horizontal" action="{:U('Home/Other/save_modifyCompanyInfo')}"  method="post" name='form1' enctype="multipart/form-data">
              <div class="well">
                <h3>修改机构信息</h3>
                <hr/>
                
                <div class="row">
                    <div class='col-md-2'>
                        <a href="#">
                          <if condition="$user['institution_logo_img'] neq NULL">
                            <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/other_pic/{$user['institution_logo_img']}" alt="头像" height="100" width="100">
                            <else />
                            <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/other_pic/default.jpg" alt="头像" height="100" width="100"></if>
                        </a>
                    </div>


                    <div class='col-md-10'>
                        <div class="row">
                            <div class='col-md-2 text_right'>
                                中文名称:
                            </div>
                            <div class='col-md-10'>
                                <input type="text" class="form-control" name="institution_fullname_cn" value="{$user['institution_fullname_cn']}">
                            </div>
                        </div>
                      
                        <div class="row margin_top_bottom_20">
                            <div class='col-md-2 text_right'>
                                英文名称:
                            </div>
                            <div class='col-md-10'>
                                <input type="text" class="form-control" name="institution_fullname_en" value="{$user['institution_fullname_en']}">
                            </div>
                        </div>

                        <div class="row margin_top_bottom_20">
                            <div class='col-md-2 text_right'>
                                公司简介:
                            </div>
                            <div class='col-md-10'>
                                <textarea name="institution_abstract" class="form-control">{$user['institution_abstract']}</textarea>
                            </div>
                        </div>

                        <div class="row margin_top_bottom_20">
                              <div class='col-md-2 text_right'>公司logo:</div>
                              <div class='col-md-10'><a href="__PUBLIC__/uploads/startup_pic/{$user['institution_logo_img']}" target="_Blank" >查看已有logo</a><input type="file" class="form-control" name="institution_logo_img" ></div>
                              
                        </div>


                    </div>
                </div>

                <div class="row margin_top_20">
                    <div class='col-md-12'>
                      <h3><span class="glyphicon glyphicon-inbox"></span>基本信息</h3>
                      <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row margin_top_bottom_20">
                                <div class='col-md-3 text_right'>
                                    成立时间:
                                </div>
                                <div class='col-md-8'>
                                   <input name="founded_time" class="form-control" value="<php>echo date('Y-m-d',$user['founded_time']);</php>"/>
                                </div>
                            </div>

                            <div class="row margin_top_bottom_20">
                              <div class='col-md-3 text_right'>成立地点:</div>
                              <div class='col-md-8'><textarea name="founded_addr" class="form-control">{$user['founded_addr']}</textarea></div>
                            </div>

                            <div class="row margin_top_bottom_20">
                              <div class='col-md-3 text_right'>行业:</div>
                              <div class='col-md-8'><textarea name="profession" class="form-control">{$user['profession']}</textarea></div>
                            </div>

                        </div>
                      </div>
                    </div>
                </div>

                <div class="row margin_top_20">
                    <div class='col-md-12'>
                      <h3><span class="glyphicon glyphicon-earphone"></span>联系方式</h3>
                      <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row margin_top_bottom_20">
                                <div class='col-md-3 text_right'>
                                    联系人:
                                </div>
                                <div class='col-md-8'>
                                    <input type="text" class="form-control" name="contact_username" value="{$user['contact_username']}">
                                </div>
                            </div>

                            <div class="row margin_top_bottom_20">
                                <div class='col-md-3 text_right'>
                                    手机:
                                </div>
                                <div class='col-md-8'>
                                    <input type="text" class="form-control" name="contact_mobilephone" value="{$user['contact_mobilephone']}">
                                </div>
                            </div>

                            <div class="row margin_top_bottom_20">
                                <div class='col-md-3 text_right'>
                                    电话:
                                </div>
                                <div class='col-md-8'>
                                    <input type="text" class="form-control" name="contact_telephone" value="{$user['contact_telephone']}">
                                </div>
                            </div>

                            <div class="row margin_top_bottom_20">
                              <div class='col-md-3 text_right'>邮箱:</div>
                              <div class='col-md-8'><input type="email" class="form-control" name="contact_email" value="{$user['contact_email']}"></div>
                            </div>

                            <div class="row margin_top_bottom_20">
                                <div class='col-md-3 text_right'>
                                    机构微信:
                                </div>
                                <div class='col-md-8'>
                                    <input type="text" class="form-control" name="company_wechat" value="{$user['company_wechat']}">
                                </div>
                            </div>
                            <div class="row margin_top_bottom_20">
                                <div class='col-md-3 text_right'>
                                    机构网站:
                                </div>
                                <div class='col-md-8'>
                                    <input type="text" class="form-control" name="company_web" value="{$user['company_web']}">
                                </div>
                            </div>

                            <div class="row">
                                  <div class="col-sm-4">
                                    <input type="submit" class="btn btn-primary btn-block"  value="保存修改"/>
                                  </div>
                            </div>

                        </div>
                      </div>
                    </div>
                </div>

                 &nbsp;
              </div>
          </form>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>