<include file = "layout:header"/>
<include file = "layout:navbar"/> 

  <div class="content">
    <div class="container">
      <ul class="nav nav-justified masthead-nav">
        <li role="presentation"><a href="__APP__/Home/Supplier/supplierProfile">{$Think.lang.dashboard}</a></li>
        <li role="presentation" ><a href="__APP__/Home/Supplier/supplierCompanyInfo">{$Think.lang.company_profile}</a></li>
        <li role="presentation" ><a href="__APP__/Home/Supplier/inbox">{$Think.lang.inbox}</a></li>
        <li role="presentation" class="active"><a href="__APP__/Home/Supplier/client">{$Think.lang.leads_customers}</a></li>
      </ul>
    </div>
    <hr>

    <section class="content-wrap">
     <!--  <div class="container">
        <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">查询</button>
            </form> 
      </div> -->
      <div class="container">
        
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>{$Think.lang.sales_funnel}</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-5">
                    
                     
                        <div class="list-group">
                          <a href="#" class="list-group-item ">{$Think.lang.recommended}<span class="badge">{$view['reccomand']}</span></a>
                          <a href="#" class="list-group-item">{$Think.lang.watched}<span class="badge">{$view['follow']}</span></a>
                          <a href="#" class="list-group-item">{$Think.lang.rfi}<span class="badge">{$view['invite']}</span></a>
                        </div>
                    
                  </div>
                  <div class="col-md-7">
                    <div style="width:60%">
                      <div>
                        <canvas id="canvas" height="450" width="600"></canvas>
                      </div>
                    </div> 
                  </div>    
                </div>
              </div>
            </div>
             
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>{$Think.lang.customer_list}</h4>
              </div>
              <div class="panel-body">

        <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">查询</button>
            </form> 
      <table class="table table-hover">
                <thead>
                  <tr>

                    <th>{$Think.lang.customer}</th>
                    <th>{$Think.lang.status}</th>
                    <th>{$Think.lang.industry}</th>
                    <th>{$Think.lang.contact_person}</th>
                    <th></th>
                    
                  </tr>
                </thead>
                <tbody>
                <foreach name="customers" item="customers">
                  <tr>
                    <td>
                    <label class="checkbox-inline">{$customers['name']}</label>
                    <a href="__APP__/Home/Supplier/viewbuyerCompanyInfo/id/{$customers['com_id']}"><i class="fa fa-chain"></i></a>
                    </td>
                    <td>
                      <switch name='customers[state]'>
                        <case value='接受信息邀请'>{$Think.lang.rfi_accepted}</case>
                        <case value='拒绝信息邀请'>{$Think.lang.rfi_declined}</case>
                        <case value='未处理'><a href="__APP__/Home/Supplier/inbox" role="hidden">{$Think.lang.rfi_waiting_for_response}</a></case>
                      </switch>
                    </td>
                    <td>{$customers['industry']['name']}</td>  
                    <td>{$customers['connect']}
                    <a href="__APP__/Home/Supplier/viewbuyerPersonalInfo/id/{$customers['connect_id']}"><i class="fa fa-user"></i></a>
                    </td> 
                    <td>
                    <if condition="$customers['state'] neq '未处理'">
                      <a class="btn btn-default" href="__APP__/Home/Supplier/deletecustomer/id/{$customers['id']}" role="button">{$Think.lang.deleted}</a>
                    </if>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#sendMessage" onclick="supsendmessage(this);" id="{$customers['connect_id']}" name="{$customers['connect']}">{$Think.lang.send_in_mail}</button>
                    </td>
                  </tr>
                </foreach>
                </tbody>
                </table>
              </div>
            </div>     
      </div>
    </section>
    </div>
  <br/>
  <br/>
  <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="sendletter">

      </div>
    </div>
  </div>


<include file = "layout:footer"/>