<include file = "layout:header"/>
<include file = "layout:navbar"/>
<div class="content supplierCompanyInfo supplierDetailedCompanyInfo">
  <div class="container">
    <div class="row">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default panel1">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-wrench"></i>{$Think.lang.company_basic_info}<i class="fa fa-angle-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                  <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.company_name}</label>
                    <div class="col-sm-10">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['name']}</case>
                          <case value='en'>{$base['name_en']}</case>
                        </switch>
                      </p>
                    </div>
                  </div><!--公司名称-->
                  <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.company_website}</label>
                    <div class="col-sm-10">
                      <p>{$base['website']}</p>
                    </div>
                  </div><!--公司网址-->
                  <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.year_of_establishment}</label>
                    <div class="col-sm-4 borderRight">
                      <p>{$base['established_time']}</p>
                    </div>
                    <label class="col-sm-2 control-label">{$Think.lang.duns}</label>
                    <div class="col-sm-4">
                      <p>{$base['duns_no']}</p>
                    </div>
                  </div><!--公司成立时间、邓白氏码-->
                  <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.address_1}</label>
                    <div class="col-sm-10">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['address']}</case>
                          <case value='en'>{$base['address_en']}</case>
                        </switch>
                      </p>
                    </div>
                  </div><!--地址1-->
                   <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.city}</label>
                    <div class="col-sm-4">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['city']}</case>
                          <case value='en'>{$base['city_en']}</case>
                        </switch>
                      </p>
                    </div>
                  </div><!--城市、城市（英文）-->
                  <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.country}</label>
                    <div class="col-sm-4 borderRight">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['country']['name']}</case>
                          <case value='en'>{$base['country']['name_en']}</case>
                        </switch>
                      </p>
                    </div>
                    <label class="col-sm-2 control-label">{$Think.lang.province}</label>
                    <div class="col-sm-4">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['province']['name']}</case>
                          <case value='en'>{$base['province']['name_en']}</case>
                        </switch>
                      </p>
                    </div>
                  </div><!--国家、省/州-->

                  <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.industry}</label>
                    <div class="col-sm-10">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['industry']['name']}</case>
                          <case value='en'>{$base['industry']['name_en']}</case>
                        </switch>
                      </p>
                    </div>
                  </div><!--行业类别-->
                  <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.company_type}</label>
                    <div class="col-sm-4 borderRight">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['cate']['name']}</case>
                          <case value='en'>{$base['cate']['name_en']}</case>
                        </switch>
                      </p>
                    </div>
                    <label class="col-sm-2 control-label">{$Think.lang.stock_exchange}</label>
                    <div class="col-sm-4">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['stock']['name']}</case>
                          <case value='en'>{$base['stock']['name_en']}</case>
                        </switch>
                      </p>
                    </div>
                  </div><!--公司类型、上市地点-->
                  <div class="row borderBottom">
                    <label class="col-sm-2 control-label">{$Think.lang.registered_capital}</label>
                    <div class="col-sm-4">
                      <p>
                        <switch name="view">
                          <case value='zh'>{$base['registered_capital']}{$base['currency_type']['name']}</case>
                          <case value='en'>{$base['registered_capital']}{$base['currency_type']['name_en']}</case>
                        </switch>
                      </p>
                    </div>
                  </div><!--注册资本-->
                  <div class="row borderNo">
                    <label class="col-sm-2 control-label">{$Think.lang.employee}</label>
                    <div class="col-sm-10">
                      <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                          <thead>
                          <tr>
                            <th style="min-width: 50px;">{$Think.lang.function}</th>
                            <th>{$base['number'][2]['year']}</th>
                            <th>{$base['number'][1]['year']}</th>
                            <th>{$base['number'][0]['year']}</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>{$Think.lang.manufacture}</td>
                            <td>{$base['number'][2]['manufacture']}</td>
                            <td>{$base['number'][1]['manufacture']}</td>
                            <td>{$base['number'][0]['manufacture']}</td>
                          </tr>
                          <tr>
                            <td>{$Think.lang.quality}</td>
                            <td>{$base['number'][2]['quality']}</td>
                            <td>{$base['number'][1]['quality']}</td>
                            <td>{$base['number'][0]['quality']}</td>
                          </tr>
                          <tr>
                            <td>{$Think.lang.research}</td>
                            <td>{$base['number'][2]['research']}</td>
                            <td>{$base['number'][1]['research']}</td>
                            <td>{$base['number'][0]['research']}</td>
                          </tr>
                          <tr>
                            <td>{$Think.lang.other}</td>
                            <td>{$base['number'][2]['other']}</td>
                            <td>{$base['number'][1]['other']}</td>
                            <td>{$base['number'][0]['other']}</td>
                          </tr>
                          <tr>
                            <td>{$Think.lang.all}</td>
                            <td>{$base['number'][2]['total']}</td>
                            <td>{$base['number'][1]['total']}</td>
                            <td>{$base['number'][0]['total']}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div><!--员工人数-->
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                  <div class="row borderNo">
                    <label class="col-sm-4">{$Think.lang.company_logo}</label>
                    <div class="col-sm-8 commit-logo">
                      <if condition="$base['logo_url'] neq NULL">
                        <img src="/selectin/1/Public/uploads/supplier_company/{$base['logo_url']}" />
                      <else />
                        <img src="/selectin/1/Public/uploads/supplier_company/temp.jpg" />
                      </if>
                    </div>
                    
                  </div>
                  <div class="row borderNo">
                    <label class="col-sm-4">{$Think.lang.company_introduction}</label>
                    <div class="col-sm-8">
                      <a href="/selectin/1/Public/uploads/supplier_company/{$base['introduction_pdf_url']}" class="btn btn-primary btn-block">{$Think.lang.view}</a>
                    </div>
                  </div>
                  <div class="row borderNo">
                    <label class="col-sm-4">{$Think.lang.company_introduction}{$Think.lang.lang_english}</label>
                    <div class="col-sm-8">
                      <a href="/selectin/1/Public/uploads/supplier_company/{$base['introduction_en_pdf_url']}" class="btn btn-primary btn-block">{$Think.lang.view}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--公司基本信息-->
        <div class="panel panel-default panel2">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-user"></i>{$Think.lang.manufacturing_capability}<i class="fa fa-angle-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <div class="row borderBottom">
                    <div class="col-sm-2">
                      <h4>{$Think.lang.segment}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.manufacturing_technology}</h4>
                    </div>
                    <div class="col-sm-3">
                      <h4>{$Think.lang.fabrication_craftwork}</h4>
                    </div>
                    <div class="col-sm-3">
                      <h4>{$Think.lang.dimension_range}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.capacity}</h4>
                    </div>
                  </div>
                  <div class="repeat">
                    <foreach name="base['process']" item="process">
                      <div class="row borderNo">
                        <div class="col-sm-2 borderRight">
                          <switch name="view">
                            <case value='zh'>{$process['technic_first']['name']}</case>
                            <case value='en'>{$process['technic_first']['name_en']}</case>
                          </switch>
                        </div>
                        <div class="col-sm-2 borderRight">
                          <switch name="view">
                            <case value='zh'>{$process['technic_second']['name']}</case>
                            <case value='en'>{$process['technic_second']['name_en']}</case>
                          </switch>
                        </div>
                        <div class="col-sm-3 borderRight">
                          <div class="multibox">
                            <if condition="$process['technic_third'] neq NULL">
                              <foreach name="process['technic_third']" item="vo">
                                <switch name="view">
                                  <case value='zh'>{$vo['name']}&nbsp;</case>
                                  <case value='en'>{$vo['name_en']}&nbsp;</case>
                                </switch>
                              </foreach>
                              <else /> {$Think.lang.null}
                            </if>
                          </div>
                        </div>
                        <div class="col-sm-3 borderRight">
                          {$process['range_min']}
                          {$Think.lang.to}
                          {$process['range_max']}
                          <switch name="view">
                            <case value='zh'>{$process['range_unit']['name']}</case>
                            <case value='en'>{$process['range_unit']['name_en']}</case>
                          </switch>
                        </div>
                        <div class="col-sm-2">
                          {$process['capacity_max']}
                          <switch name="view">
                            <case value='zh'>{$process['capacity_unit']['name']}</case>
                            <case value='en'>{$process['capacity_unit']['name_en']}</case>
                          </switch>
                        </div>
                      </div>
                    </foreach>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--制造能力-->
        <div class="panel panel-default panel3">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa fa-check"></i>{$Think.lang.main_manufacturing_equipment}<i class="fa fa-angle-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="panel-body">
                  <div class="row borderBottom">
                    <div class="col-sm-2">
                      <h4>{$Think.lang.manufacturing_technology}</h4>
                    </div>
                    <div class="col-sm-3">
                      <h4>{$Think.lang.equipment}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.brand}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.quantity}</h4>
                    </div>
                  </div>
                  <div class="repeat">
                    <foreach name="base['profacility']" item="profacility">
                      <div class="row borderNo">
                        <div class="col-sm-2 borderRight">
                          <switch name="view">
                            <case value='zh'>{$profacility['technic_second']['name']}</case>
                            <case value='en'>{$profacility['technic_second']['name_en']}</case>
                          </switch>
                        </div>
                        <div class="col-sm-3 borderRight">
                          <switch name="view">
                            <case value='zh'>{$profacility['name']}</case>
                            <case value='en'>{$profacility['name_en']}</case>
                          </switch>
                        </div>
                        <div class="col-sm-2 borderRight">
                          {$profacility['brand']}
                        </div>
                        <div class="col-sm-2">
                          {$profacility['quantity']}
                        </div>
                      </div>
                    </foreach>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div><!--主要生产设备-->
        <div class="panel panel-default panel4">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa fa-globe"></i>{$Think.lang.measurement_equipment}<i class="fa fa-angle-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="panel-body">
                  <div class="row borderBottom">
                    <div class="col-sm-3">
                      <h4>{$Think.lang.equipment}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.brand}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.quantity}</h4>
                    </div>
                  </div>
                  <div class="repeat">
                    <foreach name="base['detection']" item="detection">
                      <div class="row borderNo">
                        <div class="col-sm-3 borderRight">
                          <switch name="view">
                            <case value='zh'>{$detection['name']}</case>
                            <case value='en'>{$detection['name_en']}</case>
                          </switch>
                        </div>
                        <div class="col-sm-2 borderRight">
                          {$detection['brand']}
                        </div>
                        <div class="col-sm-2">
                          {$detection['quantity']}
                        </div>
                      </div>
                    </foreach>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div><!--主要检测设备-->
        <div class="panel panel-default panel5">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <i class="fa fa-globe"></i>{$Think.lang.market_customer}<i class="fa fa-angle-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-4">
                  <h4 class="text-center">{$Think.lang.turnover}</h4>
                </div>
                <div class="col-sm-4">
                  <h4 class="text-center">{$Think.lang.customer_distribution}</h4>
                </div>
                <div class="col-sm-4">
                  <h4 class="text-center">{$Think.lang.market_distribution}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 borderRight">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                      <tr>
                        <th>{$Think.lang.year}</th>
                        <th>{$Think.lang.currency}</th>
                        <th>{$Think.lang.amount}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <foreach name="base['turnover']" item="turnover">
                        <tr>
                          <td>{$turnover['year']}</td>
                          <td>
                            <switch name="view">
                              <case value='zh'>{$turnover['currency_type']['name']}</case>
                              <case value='en'>{$turnover['currency_type']['name_en']}</case>
                            </switch>
                          </td>
                          <td>
                            {$turnover['amount']}
                          </td>
                        </tr>
                      </foreach>
                      </tbody>
                    </table>
                  </div>
                </div><!--最近三年营业额-->
                <div class="col-sm-4 borderRight">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                      <tr>
                        <th>{$Think.lang.industry}</th>
                        <th>{$Think.lang.radio_turnover}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <foreach name="base['customer']" item="customer">
                        <tr>
                          <td>
                            <switch name="view">
                              <case value='zh'>{$customer['industry']['name']}</case>
                              <case value='en'>{$customer['industry']['name_en']}</case>
                            </switch>
                          </td>
                          <td>
                            {$customer['ratio']}%
                          </td>
                        </tr>
                      </foreach>
                      </tbody>
                    </table>
                  </div>
                </div><!--客户分布-->
                <div class="col-sm-4">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                      <tr>
                        <th>{$Think.lang.region}</th>
                        <th>{$Think.lang.radio_turnover}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <foreach name="base['market']" item="market">
                        <tr>
                          <td>
                            <switch name="view">
                              <case value='zh'>{$market['area']['name']}</case>
                              <case value='en'>{$market['area']['name_en']}</case>
                            </switch>
                          </td>
                          <td>
                            {$market['ratio']}%
                          </td>
                        </tr>
                      </foreach>
                      </tbody>
                    </table>
                  </div>
                </div><!--市场分布-->
                <div class="row">
                  <div class="col-sm-4"><h4 class="text-center">{$Think.lang.representative_product}</h4></div>
                </div>
                <div class="col-sm-4">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                      <tr>
                        <th>{$Think.lang.lang_chinese}</th>
                        <th>{$Think.lang.lang_english}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <foreach name="base['product']" item="product">
                          <tr>
                            <td>
                              {$product['name']}
                            </td>
                            <td>
                              {$product['name_en']}
                            </td>
                          </tr>
                      </foreach>
                      </tbody>
                    </table>
                  </div>
                </div><!--代表性产品-->
              </div>
            </div>
          </div>
        </div><!--市场及客户-->
        <div class="panel panel-default panel6">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <i class="fa fa-globe"></i>{$Think.lang.management_system_certificate}<i class="fa fa-angle-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="panel-body">
                  <div class="row borderBottom">
                    <div class="col-sm-2">
                      <h4>{$Think.lang.type}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.standard}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.certification_body}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.certificate_num}</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4>{$Think.lang.valid_until}</h4>
                    </div>
                  </div>
                  <div class="repeat">
                    <foreach name="base['cri']" item="cri">
                      <div class="row borderNo">
                        <div class="col-sm-2 borderRight">
                          <p>{$cri['type']}</p>
                        </div>
                        <div class="col-sm-2 borderRight">
                          {$cri['criteria']['name']}
                        </div>
                        <div class="col-sm-2 borderRight">
                          {$cri['certification_body']['name']}
                        </div>
                        <div class="col-sm-2 borderRight">
                          {$cri['certificate_number']}
                        </div>
                        <div class="col-sm-2 borderRight">
                          {$cri['expire_date']}
                        </div>
                        <div class="col-sm-2">
                          <a href="/selectin/1/Public/uploads/supplier_company/{$cri['certificate_pdf_url']}" type="button" class="btn btn-primary btn-block" >{$Think.lang.view}</a>
                        </div>
                      </div>
                    </foreach>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div><!--体系及产品认证-->
        <div class="panel panel-default panel7">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <i class="fa fa-globe"></i>{$Think.lang.it_logistic_capability}<i class="fa fa-angle-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <div class="row">
                <foreach name="abi_list"  item="abi">
                    <div class="form-group clearfix col-sm-12 clearfix">
                      <div class="col-sm-4">
                        <p>
                          <switch name="view">
                            <case value='zh'>{$abi['question']}</case>
                            <case value='en'>{$abi['question_en']}</case>
                          </switch>
                        </p>
                      </div>
                      <div class="col-sm-8">
                        <foreach name="abi['answer']" item="ans">
                          <div class="col-sm-4">
                            <if condition="$base['ability'][$ans['id']] eq $ans['id']">
                              <input class="icheckbox_flat-blue" type="checkbox" checked disabled />
                              <else />
                              <input class="icheckbox_flat-blue" type="checkbox" disabled />
                            </if>
                            <label>
                              <switch name="view">
                                <case value='zh'>{$ans['content']}</case>
                                <case value='en'>{$ans['content_en']}</case>
                              </switch>
                            </label>
                          </div>
                        </foreach>
                      </div>
                    </div>
                  </foreach>
                <?php /*
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4">
                    <p>公司是否使用办公自动化软件</p>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="abilityFirst" checked>
                    <label>是</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="abilityFirst">
                    <label>否</label>
                  </div>
                </div><!--信息技术及物流能力first-->
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4">
                    <p>公司是否具备电子数据交换能力</p>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="abilitySecond">
                    <label>否</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="abilitySecond">
                    <label>EDI</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="abilitySecond">
                    <label>WEBEDI</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="abilitySecond">
                    <label>ROSETTANET</label>
                  </div>
                </div><!--信息技术及物流能力second-->
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4"><p>公司是否使用ERP软件</p></div>
                  <div class="col-sm-8">
                    <input class="icheckbox_flat-blue" type="radio" name="abilityThird" checked>
                    <label>否</label>
                    <input class="icheckbox_flat-blue" type="radio" name="abilityThird">
                    <label>SAP</label>
                    <input class="icheckbox_flat-blue" type="radio" name="abilityThird">
                    <label>ORACLE</label>
                    <input class="icheckbox_flat-blue" type="radio" name="abilityThird">
                    <label>SAGE</label>
                    <input class="icheckbox_flat-blue" type="radio" name="abilityThird">
                    <label>INFOR</label>
                    <input class="icheckbox_flat-blue" type="radio" name="abilityThird">
                    <label>MICROSOFT</label>
                    <input class="icheckbox_flat-blue" type="radio" name="abilityThird">
                    <label>其他</label>
                  </div>
                </div><!--信息技术及物流能力third-->
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4"><p>公司是否有物流中心</p></div>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-3">
                        <input class="icheckbox_flat-blue" type="checkbox" name="abilityFourth">
                        <label>欧洲</label>
                      </div>
                      <div class="col-sm-3">
                        <input class="icheckbox_flat-blue" type="checkbox" name="abilityFourth">
                        <label>北美洲</label>
                      </div>
                      <div class="col-sm-3">
                        <input class="icheckbox_flat-blue" type="checkbox" name="abilityFourth">
                        <label>中南美洲</label>
                      </div>
                      <div class="col-sm-3">
                        <input class="icheckbox_flat-blue" type="checkbox" name="abilityFourth">
                        <label>非洲</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <input class="icheckbox_flat-blue" type="checkbox" name="abilityFourth">
                        <label>亚洲及太平洋地区</label>
                      </div>
                      <div class="col-sm-3">
                        <input class="icheckbox_flat-blue" type="checkbox" name="abilityFourth">
                        <label>南亚及印度</label>
                      </div>
                      <div class="col-sm-3">
                        <input class="icheckbox_flat-blue" type="checkbox" name="abilityFourth">
                        <label>中亚</label>
                      </div>
                      <div class="col-sm-3">
                        <input class="icheckbox_flat-blue" type="checkbox" name="abilityFourth">
                        <label>中东</label>
                      </div>
                    </div>
                  </div>
                </div><!--信息技术及物流能力fourth-->
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4"><p>公司为客户提供何种先进物流模式</p></div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="checkbox" name="abilityFifth">
                    <label>JIT</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="checkbox" name="abilityFifth">
                    <label>Ship-to-line</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="checkbox" name="abilityFifth">
                    <label>Kanban</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="checkbox" name="abilityFifth">
                    <label>VIM/SMI</label>
                  </div>
                </div><!--信息技术及物流能力fifth-->
                */?>
              </div>
            </div>
          </div>
        </div><!--信息技术及物流能力-->
        <div class="panel panel-default panel8">
          <div class="panel-heading" role="tab" id="headingEight">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <i class="fa fa-globe"></i>{$Think.lang.business_compliance}<i class="fa fa-angle-down pull-right"></i>
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
              <div class="row">
                <foreach name="com_list"  item="com">
                    <div class="form-group clearfix col-sm-12 clearfix">
                      <div class="col-sm-4">
                        <p>
                          <switch name="view">
                            <case value='zh'>{$com['question']}</case>
                            <case value='en'>{$com['question_en']}</case>
                          </switch>
                        </p>
                      </div>
                      <foreach name="com['answer']" item="ans">
                        <div class="col-sm-2">
                          <if condition="$base['compliance'][$com['id']] eq $ans['id']">
                            <input class="icheckbox_flat-blue" type="radio" checked disabled name="{$com['id']}"/>
                          <else />
                            <input class="icheckbox_flat-blue" type="radio" disabled name="{$com['id']}"/>
                          </if>
                          <label>
                            <switch name="view">
                              <case value='zh'>{$ans['content']}</case>
                              <case value='en'>{$ans['content_en']}</case>
                            </switch>
                          </label>
                        </div>
                      </foreach>
                    </div>
                </foreach>
                <?php /*
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4"><p>我公司已于所有供应商签署保密协议？</p></div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessFirst" checked>
                    <label>是</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessFirst">
                    <label>否</label>
                  </div>
                </div><!--业务合规first-->
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4">
                    <p>具有供应商框架采购协议采购额占我公司采购总额的百分比</p>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessSecond">
                    <label><50%</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessSecond">
                    <label>50%~80%</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessSecond">
                    <label>80%-99%</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessSecond">
                    <label>100%</label>
                  </div>
                </div><!--业务合规second-->
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4">
                    <p>我公司或我公司任何股东、董事、高级管理人员曾经被定罪、罚款、起诉或处于在刑事或监管程序，包括任何涉及贿赂或贪污，
                      或我公司或人和网代表我公司的人员处于现行刑法或监管部门调查中？</p>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessThird">
                    <label>是</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessThird" checked>
                    <label>否</label>
                  </div>
                </div><!--业务合规third-->
                <div class="form-group clearfix col-sm-12 clearfix">
                  <div class="col-sm-4">
                    <p>是否有关于公司涉及违法或腐败活动公开报告？</p>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessFourth">
                    <label>是</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="icheckbox_flat-blue" type="radio" name="businessFourth" checked>
                    <label>否</label>
                  </div>
                </div><!--业务合规fourth-->
                */?>
              </div>
            </div>
          </div>
        </div><!--业务合规-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a href="javascript:;" onClick="javascript:history.back(-1);" type="button" class="btn btn-primary btn-block">返回</a>
      </div>
    </div>
  </div>
</div>
<br/>

<include file = "layout:footer"/>