<include file = "layout:header"/>
<include file = "layout:navbar"/> 

  <div class="content">
    <div class="container">
    <ul class="nav nav-justified masthead-nav">
      <li role="presentation" class="active"><a href="__APP__/Home/Supplier/supplierProfile">{$Think.lang.dashboard}</a></li>
        <li role="presentation" ><a href="__APP__/Home/Supplier/supplierCompanyInfo">{$Think.lang.company_profile}</a></li>
        <li role="presentation" ><a href="__APP__/Home/Supplier/inbox">{$Think.lang.inbox}</a></li>
        <li role="presentation" ><a href="__APP__/Home/Supplier/client">{$Think.lang.leads_customers}</a></li>
    </ul>
    </div>
    <hr>
    <section class="content-wrap">
    <div class="container">
      <div class="row">
        <main class="col-md-4 main-content">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">{$Think.lang.admin}</div>
              <div class="panel-body">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <if condition="$user['face_url'] neq NULL">
                        <img class="media-object img-thumbnail" src="/selectin/1/Public/uploads/supplier_pic/{$user['face_url']}" alt="头像" height="64" width="64">
                      <else />
                        <img class="media-object img-thumbnail" src="/selectin/1/Public/uploads/supplier_pic/temp.jpg" alt="头像" height="64" width="64">
                      </if>
                    </a>
                  </div>
                  <div class="media-body">
                  <h4 class="media-heading">{$user['username']}</h4>
                  <p><i class="fa fa-envelope-o fa-lg"></i> {$user['email']}</p>
                  <p><i class="fa fa-phone fa-lg"></i> {$user['mobile_phone']}</p>
                 
                  
                  <a class="btn btn-default" href="supplierPersonalInfo" role="button">{$Think.lang.edit_personal_profile}</a>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" href="__APP__/Home/Supplier/inbox">
                    {$Think.lang.inbox}
                    <if condition="$amount['unread'] neq 0">
                      <span class="badge">{$amount['unread']}</span>
                    </if>
                  </a>
                </h4>
              </div>
            </div>
           
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {$Think.lang.rfi_from_buyer}
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="list-group">
                    <a href="__APP__/Home/Supplier/inbox" class="list-group-item">{$Think.lang.rfi_waiting_for_response}<span class="badge">{$amount['checking']}</span></a>
                    <a href="__APP__/Home/Supplier/inbox" class="list-group-item ">{$Think.lang.rfi_accepted}<span class="badge">{$amount['accepted']}</span></a>
                    <a href="__APP__/Home/Supplier/inbox" class="list-group-item">{$Think.lang.rfi_declined}<span class="badge">{$amount['rejected']}</span></a>
                </div>
              </div>
            </div>
          </div>
  
        </main>
        <aside class="col-md-8">
          
              <div class="well">
                <h2>{$Think.lang.dashboard}</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item ">{$Think.lang.recommended}<span class="badge">{$view['reccomand']}</span></a>
                    <a href="#" class="list-group-item">{$Think.lang.watched}<span class="badge">{$view['follow']}</span></a>
                    <a href="__APP__/Home/Supplier/inbox" class="list-group-item">{$Think.lang.rfi}<span class="badge">{$view['invite']}</span></a>
                </div>
                <div style="width:60%">
                  <div>
                    <canvas id="canvas" height="450" width="600"></canvas>
                  </div>
                </div> 
              </div>                 
        </aside>
      </div>
    </div>
    </section>
  </div>
</div>
  

<include file = "layout:footer"/>