<include file = "Common:header"/>

    <div id="wrapper">

        <include file = "Common:navbar"/>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">编辑管理员基本信息</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <form action='__APP__/Admin/Manager/update_manager'  enctype="multipart/form-data" method='post'>

                <div class="form-group col-sm-6">
                  <label>邮箱</label>
                  <input class='form-control' id='email' placeholder='邮箱' type='email' name='email' value="{$data['email']}"/>
                </div>

                <div class="form-group col-sm-6">
                  <label>姓名</label>
                  <input class='form-control' id='name' placeholder='姓名' type='text' name='username' value="{$data['username']}"/>
                </div>
                <div class="form-group col-sm-6">
                  <label>电话</label>
                  <input class='form-control' id='phone' placeholder='电话' type='text' name='phone' value="{$data['phone']}"/>
                </div>
                <div class="form-group col-sm-6">
                  <label>职称</label>
                  <input class='form-control' id='function' placeholder='职称' type='text' name='function' value="{$data['function']}"/>
                </div>

                <div class="form-group col-sm-6">
                  <label>性别</label>
                  <select name='sex' class="form-control">
                    <if condition="$data.sex eq 'male'">
                      <option value="1" selected="selected">男</option>
                      <else /><option value="1">男</option>
                    </if>
                    <if condition="$data.sex eq 'female'">
                      <option value="2" selected="selected">女</option>
                      <else /><option value="2">女</option>
                    </if><if condition="$data.sex eq 'secret'">
                      <option value="3" selected="selected">保密</option>
                      <else /><option value="3">保密</option>
                    </if>
                  </select>
                </div>

                <div class="form-group col-sm-6">
                  <label>组别</label>
                  <select name='is_admin' class="form-control">
                    
                      <if condition="1 eq $data['is_admin']">
                        <option value="1" selected='selected'>普通管理员</option>
                        <option value="2">超级管理员</option>
                      <else />
                        <option value="1" >普通管理员</option>
                        <option value="2" selected='selected'>超级管理员</option>
                      </if>
                  </select>
                </div>
                <div class="form-group col-sm-12">
                  <label>上传头像</label>
                  <input type="file" id="exampleInputFile" style="width: 230px;height: 37px;" name='facepic'/>
                </div>


              <input type="hidden" value="{$data['id']}" name="id" />

              <div class="col-sm-6">
                <button class='btn btn-primary'>提交</button>
              </div>


            </form>

        </div>
        <!-- /#page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">重置管理员密码</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <form action='__APP__/Admin/Manager/update_manager_password'  enctype="multipart/form-data" method='post'>

                <div class="form-group col-sm-6">
                  <label>密码</label>
                  <input class='form-control' id='password' placeholder='密码' type='password' name='password'/>
                </div>
                <div class="form-group col-sm-6">
                  <label>请再输一次密码</label>
                  <input class='form-control' id='repassword' placeholder='密码' type='password' name='repassword'/>
                </div>
                
              <input type="hidden" value="{$data['id']}" name="id" />

              <div class="col-sm-6">
                <button class='btn btn-primary'>提交</button>
              </div>


            </form>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<include file = "Common:footer"/>