<include file = "layout:header"/>
<include file = "layout:navbar"/>
<div class="content supplierCompanyInfo">
  <div class="container">
    <form action="__APP__/Home/Register/save_supplierCompanyInfo" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


          <div class="panel panel-default panel4" style="margin-top: 20px;">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa fa-globe"></i>
                  已投成功案例
                  <i class="fa fa-angle-down pull-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <div class="repeat_fund ">
                  <div class="borderBottom" style="margin-bottom:20px;">
                    


                    <div class="row">
                        <div class="col-sm-2 ">
                          <label for="userName" class="col-sm-12 control-label"><b>成功案例</b></label>
                        </div>
                    </div>


                    <div class="repeat">
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="invested_company" class="col-sm-12 control-label">
                                  融资公司
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <input type="text" class="form-control" id="invested_company" name="case[invested_company][]"  />                            
                              </div>

                          </div>

                      </div>
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="investor" class="col-sm-12 control-label">
                                  投资人
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <textarea class="form-control" id="investor" name="case[investor][]" ></textarea>
                              </div>

                          </div>

                      </div>
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="investment_quota" class="col-sm-12 control-label">
                                  投资额度
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <input type="text" class="form-control" id="investment_quota" name="case[investment_quota][]"  />                            
                              </div>

                          </div>

                      </div>
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="investment_round" class="col-sm-12 control-label">
                                  投资轮次
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <input type="text" class="form-control" id="investment_round" name="case[investment_round][]"  /> 
                              </div>

                          </div>

                      </div>
                      <div class="row borderBottom" style="margin-top:10px;">
                          
                            <div>
                                <div class="col-sm-2">
                                  <label for="founded_time" class="col-sm-12 control-label">
                                    投资时间
                                  </label>
                                </div>
                                <div class="col-sm-4">
                                  <input type="date" class="form-control" id="founded_time" name="case[founded_time][]"  /> 
                                </div>

                            </div>

                        </div>  
                      
                    </div>
                    <div class="row">
                      <div class="col-sm-9"></div>
                      <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" id="addNew4">再添加其它成功案例</button>
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
          <!--主要检测设备-->

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="margin-bottom:30px;">
          <input type="hidden" name='user_id'  value="{$id}"/>
          <input type="submit" class="btn btn-primary btn-block" id="submit" value="{$Think.lang.signup_complete}"/>
        </div>
      </div>
    </form>
  </div>
</div>

<include file = "layout:footer"/>