<include file = "layout:header"/>
<include file = "layout:navbar"/>
<div class="content supplierCompanyInfo">
  <div class="container">
    
      <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


          <div class="panel panel-default panel4" style="margin-top: 20px;">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa fa-globe"></i>
                  基金产品(数量>=0)
                  <i class="fa fa-angle-down pull-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <div class="repeat_fund ">
                  <div class="borderBottom" style="margin-bottom:20px;">
                    <div class="row" >
                      <div class="col-sm-2">
                        
                          <label for="userName" class="col-sm-12 control-label"><span>*</span>管理基金数量</label>
    
                      </div>

                      <div class="col-sm-4">

                            <input type="number" class="form-control" id="userName" name="username" placeholder='由系统自动计算得出' value="{$total_funds_num}" disabled />

                      </div>

                    </div>



                    <div class="row" style="margin-top:10px;">
                      <div class="col-sm-2">
                        
                          <label for="userName" class="col-sm-12 control-label"><span>*</span>管理基金总规模</label>
    
                      </div>

                      <div class="col-sm-4">

                            <input type="text" class="form-control" id="userName" name="username"  placeholder='由系统自动计算得出' value="{$total_funds_size}" disabled/>
                           

                      </div>

                      <div class='col-sm-2'>
                            <label for="userName" class="col-sm-12 control-label">(万人民币)</label>
                      </div>
                    </div>

                  <foreach name="funds" item='vo'>
                    <div class="row">
                        <div class="col-sm-2 ">
                          <label for="userName" class="col-sm-12 control-label"><b>基金产品 {$key+1}</b></label>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="name" class="col-sm-12 control-label">
                                基金名称
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="name" name="name"  value="{$vo['name']}" disabled/>                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="founded_time" class="col-sm-12 control-label">
                                成立时间
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="date" class="form-control" id="founded_time" name="founded_time"  value="<php>echo date('Y-m-d',$vo['founded_time']);</php>" disabled/>                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="registered_address" class="col-sm-12 control-label">
                                注册地点
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="registered_address" name="registered_address"  value="{$vo['registered_address']}" disabled/>                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="currency_type_id" class="col-sm-12 control-label">
                                币种
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <select class="form-control" id="currency_type_id" name="currency_type_id" disabled>
                              <switch name="vo['currency_type_id']">
                                <case value='0'><option value='0'>人民币RMB</option></case>
                                <case value='1'><option value='1'>美元USD</option></case> 
                                <case value='2'><option value='2'>日元JPY</option></case> 
                                <case value='3'><option value='3'>欧元EUR</option></case> 
                                <case value='4'><option value='4'>英镑GBP</option></case> 
                                <case value='5'><option value='5'>德国马克DEM</option></case> 
                                <case value='6'><option value='6'>瑞士法郎CHF</option></case> 
                                <case value='7'><option value='7'>法国法郎FRF</option></case> 
                                <case value='8'><option value='8'>加拿大元CAD</option></case> 
                                <case value='9'><option value='9'>澳大利亚元AUD</option></case> 
                                <case value='10'><option value='10'>港币HKD</option></case> 
                                <case value='11'><option value='11'>俄罗斯卢布SUR</option></case> 
                                <case value='12'><option value='12'>新加坡元SGD</option></case> 
                                <case value='13'><option value='13'>韩国元KRW</option></case> 
                                <case value='14'><option value='14'>泰铢THB</option></case> 
                                <case value='15'><option value='15'>奥地利先令ATS</option></case> 
                                <case value='16'><option value='16'>芬兰马克FIM</option></case> 
                                <case value='17'><option value='17'>比利时法郎BEF</option></case> 
                                <case value='18'><option value='18'>爱尔兰镑IEP</option></case> 
                                <case value='19'><option value='19'>意大利里拉ITL</option></case> 
                                <case value='20'><option value='20'>卢森堡法郎LUF</option></case> 
                                <case value='21'><option value='21'>荷兰盾NLG</option></case> 
                                <case value='22'><option value='22'>葡萄牙埃斯库多PTE</option></case> 
                                <case value='23'><option value='23'>西班牙比塞塔ESP</option></case> 
                                <case value='24'><option value='24'>印尼盾IDR</option></case> 
                                <case value='25'><option value='25'>马来西亚林吉特MYR</option></case> 
                                <case value='26'><option value='26'>新西兰元NZD</option></case> 
                                <case value='27'><option value='27'>菲律宾比索PHP</option></case> 

                              </switch>
                                


                              </select>
          
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="fund_size" class="col-sm-12 control-label">
                                基金规模(万元)
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="number" class="form-control" id="fund_size" name="fund_size"  value="{$vo['fund_size']}" disabled/>                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="fund_property" class="col-sm-12 control-label">
                                基金类型
                              </label>
                            </div>
                            <div class="col-sm-4">
                                <select name="fund_property" id="fund_property" class="form-control" disabled>


                                  <if condition="$vo['is_angel_investment'] eq 1"><option value ="1">天使投资基金</option></if>
                                  <if condition="$vo['is_vc_investment'] eq 1"><option value ="2">VC基金</option></if>
                                  <if condition="$vo['is_pe_investment'] eq 1"><option value ="3">PE基金</option></if>
                                  <if condition="$vo['is_other_investment'] eq 1"><option value ="4">其它基金</option></if>

                                </select>                           
                            </div>

                        </div>

                    </div>


                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="trustee_name" class="col-sm-12 control-label">
                                托管人名称
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="trustee_name" name="trustee_name"  value="{$vo['trustee_name']}" disabled/>                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="investment_field" class="col-sm-12 control-label">
                                主要投资领域
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="investment_field" name="investment_field"  value="{$vo['investment_field']}" disabled/>                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="investment_region" class="col-sm-12 control-label">
                                投资地域
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="investment_region" name="investment_region"  placeholder="海外\全国范围\某省某市" value="{$vo['investment_region']}" disabled/>                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="is_recruitment_period" class="col-sm-12 control-label">
                                运作状态
                              </label>
                            </div>
                            <div class="col-sm-10">
                              <div class="col-sm-3 ">
                                <input class="icheckbox_flat-blue"  type="radio"  <php> if($vo['is_recruitment_period']==0) echo' checked';</php>/>
                                <label for="is_recruitment_period_0">封闭</label>
                              </div>
                              <div class="col-sm-3 ">
                                <input class="icheckbox_flat-blue"  type="radio"  <php> if($vo['is_recruitment_period']==1) echo' checked';</php>/>
                                <label for="is_recruitment_period_1">募集期</label>
                              </div>      
                              <div class="col-sm-2 ">
                                <label for="">上传募集方案</label>
                              </div>
                              <div class="col-sm-4 ">
                                  <a href="__ROOT__/Public/uploads/gp_recruitment/{$vo['recruitment_plan_url']}" target="_Blank" class="form-control">{$vo['recruitment_plan_url']}</a>
                              </div>  

                                                   
                            </div>

                        </div>

                    </div>


                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="is_recorded_0" class="col-sm-12 control-label">
                                中基协备案状况
                              </label>
                            </div>
                            <div class="col-sm-10">
                              <div class="col-sm-3 ">
                                <input class="icheckbox_flat-blue"  type="radio"  <php> if($vo['is_recorded']==0) echo' checked';</php>/>
                                <label for="is_recorded_0">未备案</label>
                              </div>
                              <div class="col-sm-3 ">
                                <input class="icheckbox_flat-blue"  type="radio"  <php> if($vo['is_recorded']==1) echo' checked';</php>/>
                                <label for="is_recorded_1">已备案</label>
                              </div>  
                              <div class="col-sm-6 ">
                                <label for="is_recorded_0">(若已备案则填写下面基金编号、备案时间)</label>
                              </div>                       
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="fund_number" class="col-sm-12 control-label">
                                基金编号
                              </label>
                            </div>
    
                            <div class="col-sm-4 ">
                              <input type="text" class="form-control" id="fund_number" name="fund_number"  value="{$vo['fund_number']}" disabled/>   
                            </div>
                            <div class="col-sm-2 ">
                              <label for="recorded_time">备案时间</label>
                            </div>  
                            <div class="col-sm-4 ">
                              <input type="date" class="form-control" id="recorded_time" name="recorded_time"  value="<php>echo date('Y-m-d',$vo['recorded_time']);</php>" disabled />   
                            </div>                       
                          

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-3 ">
                          <label for="userName" class="col-sm-12 control-label"><b>该基金已投基金/项目</b></label>
                        </div>
                    </div>


                    <div class="">
                    <foreach name="vo['investment_projects']" item="investment_project" key="project_key">
                              <div class="row" style="margin-top:10px;">
                                  <div>
                                      <div class="col-sm-2">
                                        <label for="project_name" class="col-sm-12 control-label">
                                          基金项目{$project_key+1}名称
                                        </label>
                                      </div>
                                      <div class="col-sm-4">
                                        <input type="text" class="form-control" id="project_name" name="investment_project[project_name][]"  value="{$investment_project['project_name']}" disabled />                            
                                      </div>

                                  </div>

                              </div>
                              <div class="row" style="margin-top:10px;">
                                
                                  <div>
                                      <div class="col-sm-2">
                                        <label for="project_abstract" class="col-sm-12 control-label">
                                          基金项目简介
                                        </label>
                                      </div>
                                      <div class="col-sm-4">
                                        <textarea class="form-control" id="project_abstract" name="investment_project[project_abstract][]"  disabled>{$investment_project['project_abstract']}</textarea>
                                      </div>

                                  </div>

                              </div>
                              <div class="row" style="margin-top:10px;">
                                
                                  <div>
                                      <div class="col-sm-2">
                                        <label for="investment_quota" class="col-sm-12 control-label">
                                          投资额度
                                        </label>
                                      </div>
                                      <div class="col-sm-4">
                                        <input type="text" class="form-control" id="investment_quota" name="investment_project[investment_quota][]" value="{$investment_project['investment_quota']}" disabled />                            
                                      </div>
                                      <div class="col-sm-2">
                                        <label for="investment_quota" class="col-sm-12 control-label">
                                          万元
                                        </label>
                                      </div>

                                  </div>

                              </div>
                              <div class="row" style="margin-top:10px;">
                                
                                  <div>
                                      <div class="col-sm-2">
                                        <label for="investment_round" class="col-sm-12 control-label">
                                          项目投资轮次
                                        </label>
                                      </div>
                                      <div class="col-sm-4">
                                        <input type="text" class="form-control" id="investment_round" name="investment_project[investment_round][]"  value="{$investment_project['investment_round']}" disabled/> 
                                      </div>
                                      <div class="col-sm-2">
                                        <label for="investment_round" class="col-sm-12 control-label">
                                          (基金无)
                                        </label>
                                      </div>

                                  </div>

                              </div>
                              <div class="row" style="margin-top:10px;">
                                
                                  <div>
                                      <div class="col-sm-2">
                                        <label for="investment_time" class="col-sm-12 control-label">
                                          投资时间
                                        </label>
                                      </div>
                                      <div class="col-sm-4">
                                        <input type="date" class="form-control" id="investment_time" name="investment_project[investment_time][]"  value="<php> echo date('Y-m-d',$investment_project['investment_time']);</php>" disabled/>                            
                                      </div>

                                  </div>

                              </div>
                              <div class="row borderBottom" style="margin-top:10px;">
                                
                                  <div>
                                      <div class="col-sm-2">
                                        <label for="project_state_type" class="col-sm-12 control-label">
                                          项目现状
                                        </label>
                                      </div>
                                      <div class="col-sm-4">
                                          <select name="investment_project[project_state_type][]" id="project_state_type" class="form-control" disabled>
                                                <switch name="investment_project['project_state_type']">
                                                      <case value="1"><option value ="1">死亡</option></case>
                                                      <case value="2"><option value ="2">Pre-IPO</option></case>
                                                      <case value="3"><option value ="3">M&A</option></case>
                                                      <case value="4"><option value ="4">上市</option></case>
                                                </switch>
                                          </select>  
                                      </div>

                                  </div>

                              </div>
                    </foreach>
                     

                  </foreach>
              <form action="" method="post" enctype="multipart/form-data" name="form1">
                    <div class="row">
                        <div class="col-sm-2 ">
                          <label for="userName" class="col-sm-12 control-label"><b>基金产品 {$total_funds_num+1}</b></label>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="name" class="col-sm-12 control-label">
                                基金名称
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="name" name="name"  />                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="founded_time" class="col-sm-12 control-label">
                                成立时间
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="date" class="form-control" id="founded_time" name="founded_time"  />                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="registered_address" class="col-sm-12 control-label">
                                注册地点
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="registered_address" name="registered_address"  />                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="currency_type_id" class="col-sm-12 control-label">
                                币种
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <select class="form-control" id="currency_type_id" name="currency_type_id">
                                
                                <option value='0'>人民币RMB</option> 
                                <option value='1'>美元USD</option> 
                                <option value='2'>日元JPY</option> 
                                <option value='3'>欧元EUR</option> 
                                <option value='4'>英镑GBP</option> 
                                <option value='5'>德国马克DEM</option> 
                                <option value='6'>瑞士法郎CHF</option> 
                                <option value='7'>法国法郎FRF</option> 
                                <option value='8'>加拿大元CAD</option> 
                                <option value='9'>澳大利亚元AUD</option> 
                                <option value='10'>港币HKD</option> 
                                <option value='11'>俄罗斯卢布SUR</option> 
                                <option value='12'>新加坡元SGD</option> 
                                <option value='13'>韩国元KRW</option> 
                                <option value='14'>泰铢THB</option> 
                                <option value='15'>奥地利先令ATS</option> 
                                <option value='16'>芬兰马克FIM</option> 
                                <option value='17'>比利时法郎BEF</option> 
                                <option value='18'>爱尔兰镑IEP</option> 
                                <option value='19'>意大利里拉ITL</option> 
                                <option value='20'>卢森堡法郎LUF</option> 
                                <option value='21'>荷兰盾NLG</option> 
                                <option value='22'>葡萄牙埃斯库多PTE</option> 
                                <option value='23'>西班牙比塞塔ESP</option> 
                                <option value='24'>印尼盾IDR</option> 
                                <option value='25'>马来西亚林吉特MYR</option> 
                                <option value='26'>新西兰元NZD</option> 
                                <option value='27'>菲律宾比索PHP</option> 

                              </select>
          
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="fund_size" class="col-sm-12 control-label">
                                基金规模(万元)
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="number" class="form-control" id="fund_size" name="fund_size"  />                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="trustee_name" class="col-sm-12 control-label">
                                托管人名称
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="trustee_name" name="trustee_name"  />                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="investment_field" class="col-sm-12 control-label">
                                主要投资领域
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="investment_field" name="investment_field"  />                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="investment_region" class="col-sm-12 control-label">
                                投资地域
                              </label>
                            </div>
                            <div class="col-sm-4">
                              <input type="text" class="form-control" id="investment_region" name="investment_region"  placeholder="海外\全国范围\某省某市"/>                            
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="fund_property" class="col-sm-12 control-label">
                                基金类型
                              </label>
                            </div>
                            <div class="col-sm-4">
                                <select name="fund_property" id="fund_property" class="form-control">

                                  <option value ="1">天使投资基金</option>
                                  <option value ="2">VC基金</option>
                                  <option value ="3">PE基金</option>
                                  <option value ="4">其它基金</option>

                                </select>                           
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="is_recruitment_period" class="col-sm-12 control-label">
                                运作状态
                              </label>
                            </div>
                            <div class="col-sm-10">
                              <div class="col-sm-3 ">
                                <input class="icheckbox_flat-blue" id="is_recruitment_period_0" type="radio" name="is_recruitment_period" value="0" checked>
                                <label for="is_recruitment_period_0">封闭</label>
                              </div>
                              <div class="col-sm-3 ">
                                <input class="icheckbox_flat-blue" id="is_recruitment_period_1" type="radio" name="is_recruitment_period" value="1">
                                <label for="is_recruitment_period_1">募集期</label>
                              </div>      
                              <div class="col-sm-2 ">
                                <label for="recruitment_plan_url">上传募集方案</label>
                              </div>
                              <div class="col-sm-4 ">
                                <input type="file" class="form-control" id="recruitment_plan_url" name="recruitment_plan_url" >
                              </div>  

                                                   
                            </div>

                        </div>

                    </div>


                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="is_recorded_0" class="col-sm-12 control-label">
                                中基协备案状况
                              </label>
                            </div>
                            <div class="col-sm-10">
                              <div class="col-sm-3 ">
                                <input class="icheckbox_flat-blue" id="is_recorded_0" type="radio" name="is_recorded" value="0" checked>
                                <label for="is_recorded_0">未备案</label>
                              </div>
                              <div class="col-sm-3 ">
                                <input class="icheckbox_flat-blue" id="is_recorded_1" type="radio" name="is_recorded" value="1">
                                <label for="is_recorded_1">已备案</label>
                              </div>  
                              <div class="col-sm-6 ">
                                <label for="is_recorded_0">(若已备案则填写下面基金编号、备案时间)</label>
                              </div>                       
                            </div>

                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        
                        <div>
                            <div class="col-sm-2">
                              <label for="fund_number" class="col-sm-12 control-label">
                                基金编号
                              </label>
                            </div>
    
                            <div class="col-sm-4 ">
                              <input type="text" class="form-control" id="fund_number" name="fund_number"  />   
                            </div>
                            <div class="col-sm-2 ">
                              <label for="recorded_time">备案时间</label>
                            </div>  
                            <div class="col-sm-4 ">
                              <input type="date" class="form-control" id="recorded_time" name="recorded_time"  />   
                            </div>                       
                          

                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-3 ">
                          <label for="userName" class="col-sm-12 control-label"><b>该基金已投基金/项目</b></label>
                        </div>
                    </div>


                    <div class="repeat">
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="project_name" class="col-sm-12 control-label">
                                  基金项目名称
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <input type="text" class="form-control" id="project_name" name="investment_project[project_name][]"  />                            
                              </div>

                          </div>

                      </div>
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="project_abstract" class="col-sm-12 control-label">
                                  基金项目简介
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <textarea class="form-control" id="project_abstract" name="investment_project[project_abstract][]" ></textarea>
                              </div>

                          </div>

                      </div>
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="investment_quota" class="col-sm-12 control-label">
                                  投资额度
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <input type="number" class="form-control" id="investment_quota" name="investment_project[investment_quota][]"  />                            
                              </div>
                              <div class="col-sm-2">
                                <label for="investment_quota" class="col-sm-12 control-label">
                                  万元
                                </label>
                              </div>

                          </div>

                      </div>
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="investment_round" class="col-sm-12 control-label">
                                  项目投资轮次
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <input type="text" class="form-control" id="investment_round" name="investment_project[investment_round][]"  /> 
                              </div>
                              <div class="col-sm-2">
                                <label for="investment_round" class="col-sm-12 control-label">
                                  (基金无)
                                </label>
                              </div>

                          </div>

                      </div>
                      <div class="row" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="investment_time" class="col-sm-12 control-label">
                                  投资时间
                                </label>
                              </div>
                              <div class="col-sm-4">
                                <input type="date" class="form-control" id="investment_time" name="investment_project[investment_time][]"  />                            
                              </div>

                          </div>

                      </div>
                      <div class="row borderBottom" style="margin-top:10px;">
                        
                          <div>
                              <div class="col-sm-2">
                                <label for="project_state_type" class="col-sm-12 control-label">
                                  项目现状
                                </label>
                              </div>
                              <div class="col-sm-4">
                                  <select name="investment_project[project_state_type][]" id="project_state_type" class="form-control">

                                      <option value ="1">死亡</option>
                                      <option value ="2">Pre-IPO</option>
                                      <option value ="3">M&A</option>
                                      <option value ="4">上市</option>

                                  </select>  
                              </div>

                          </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-9"></div>
                      <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" id="addNew4" >再添加该基金已投基金/项目</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                      <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary" id="" onclick="form1.action='__APP__/Home/Register/add_gpFundsInfo';form1.submit();">添加其它基金产品</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <!--主要检测设备-->

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="margin-bottom:30px;">
          <input type="submit" class="btn btn-primary btn-block" id="submit" value="{$Think.lang.signup_complete}" onclick="form1.action='__APP__/Home/Register/save_gpFundsInfo';form1.submit();"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<include file = "layout:footer"/>