<include file = "layout:header"/>
<include file = "layout:navbar"/>
<div class="content buyerPersonalInfo">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading" >
            <h2 style="margin-left:-40px;">个人信息</h2>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" action="__APP__/Home/Register/save_individualInfo" enctype="multipart/form-data" method="post" >
              <div class="form-group">
                <label for="nickname" class="col-sm-3 control-label"><span>*</span>昵称</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="nickname" name="nickname" required/>
                </div>
              </div><!--用户名-->

              <div class="form-group">
                <label for="head_portrait_url" class="col-sm-3 control-label">上传头像(上传限制:500k)</label>
                <div class="col-sm-8">
                  <a href=""></a>
                  <input type="file" class="form-control" id="head_portrait_url" name="head_portrait_url" >
                </div>
              </div><!--上传头像-->
              <div class="form-group">
                <label for="profession" class="col-sm-3 control-label"><span>*</span>所属行业</label>
                <div class="col-sm-8">
                  <select name="profession" id="profession" class="form-control">

                          <option value ="0">请选择机构类型</option>
                          <option value ="1">母基金</option>
                          <option value="2">基金</option>
                          <option value="3">创业公司</option>
                          <option value ="4">FA机构</option>
                          <option value="5">法务机构</option>
                          <option value="6">财务机构</option>
                          <option value ="7">众创空间</option>
                          <option value="8">其它(媒体、政府机构等)</option>

                  </select>
                </div>
              </div><!--所属行业-->
              
              
            
              <div class="form-group">
                <if condition="$pgtype eq 'zh-cn'">
                <label for="company_name" class="col-sm-3 control-label"><span>*</span>公司</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="company_name" name="company_name" required/>
                </div>
                </if>
                <if condition="$pgtype eq 'en-us'"><div class="col-sm-1"></div></if>
                <label for="company_function" class="col-sm-2 control-label"><span>*</span>职务</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="company_function" name="company_function" required/>
                </div>
              </div><!--职位-->
    
              <div class="form-group">
                <label for="username" class="col-sm-3 control-label"><span>*</span>姓名</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="username" name="username" required/>
                </div>
              </div><!--姓名-->

              <div class="form-group">
                <label for="sex" class="col-sm-3 control-label">性别</label>
                <div class="col-sm-8">
                  <select name="sex" id="sex" class="form-control">

                          <option value ="secret">请选择性别</option>
                          <option value ="male">男</option>
                          <option value="female">女</option>

                  </select>
                </div>
              </div><!--性别-->

              <div class="form-group">
                <label for="abstract" class="col-sm-3 control-label">简介</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="abstract" name="abstract" />
                </div>
              </div><!--简介-->


              <div class="form-group">
                <label for="phone" class="col-sm-3 control-label">手机</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="phone" name="phone" />
                </div>
              </div><!--手机-->



              <div class="form-group">
                <label for="email" class="col-sm-3 control-label"><span>*</span>{$Think.lang.email}</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" disabled="disabled" value="{$data['email']}" required/>
                </div>
              </div><!--电子邮件-->


              <div class="form-group">
                <label for="linkedin" class="col-sm-3 control-label">LinkedIn</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="linkedin" name="linkedin" />
                </div>
              </div><!--LinkedIn-->


              <div class="form-group">
                <label for="weibo" class="col-sm-3 control-label">新浪微博</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="weibo" name="weibo" />
                </div>
              </div><!--新浪微博-->
              

              <div class="form-group">
                <label for="wechat" class="col-sm-3 control-label">微信</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="wechat" name="wechat" />
                </div>
              </div><!--微信-->

              <div class="form-group">
                <label for="business_experience" class="col-sm-3 control-label">从业经历</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="business_experience" name="business_experience" ></textarea>
                </div>
              </div><!--从业经历-->

              <input type="hidden" name="id" value="{$data['id']}">
            <div class="alert alert-warning" role="alert">
              <span>*</span>必填
            </div>
            <input type="submit" value="个人信息完成注册" class="btn btn-block btn-primary"/> 
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<include file = "layout:footer"/>