<include file = "layout:header"/>
<include file = "layout:navbar"/>
<div class="content supplierCompanyInfo">
  <div class="container">
    <form action="__APP__/Home/Register/save_laCompanyInfo" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default panel1">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-wrench"></i>
                  完善机构基本信息 <i class="fa fa-angle-down pull-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">

                    <div class="form-group clearfix">
                      <label for="institution_fullname_cn" class="col-sm-3 control-label">
                        <span>*</span>
                        全称(中文)
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="institution_fullname_cn"  name="institution_fullname_cn" value="{$data['institution_fullname_cn']}"  />
                      </div>
                    </div>
                    <!--全称(中文)-->

                    <div class="form-group clearfix">
                      <label for="institution_fullname_en" class="col-sm-3 control-label">全称(英文)</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="institution_fullname_en" name="institution_fullname_en"  value="{$data['institution_fullname_en']}" />
                      </div>
                    </div>
                    <!--全称(英文)-->

                    <div class="form-group clearfix">
                      <label for="institution_logo_img" class="col-sm-3 control-label">公司logo(上传限制:500k)</label>
                      <div class="col-sm-8">
                        <a href=""></a>
                        <input type="file" class="form-control" id="institution_logo_img" name="institution_logo_img" ></div>
                    </div>
                    <!--公司logo-->

                    <div class="form-group clearfix">
                      <label for="founded_time" class="col-sm-3 control-label">成立时间</label>
                      <div class="col-sm-8">
                        <input type="date" class="form-control" id="founded_time"   name="founded_time" value="{$data['founded_time']}" />
                      </div>
                    </div>
                    <!--成立时间-->

                    <div class="form-group clearfix">
                      <label for="institution_abstract" class="col-sm-3 control-label">机构简介</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" id="institution_abstract" name="institution_abstract" ></textarea>
                      </div>
                    </div>
                    <!--机构简介-->

                    <div class="form-group clearfix">
                      <label for="service_area" class="col-sm-3 control-label">服务地域</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" name="service_area"></textarea>
                      </div>
                    </div>
                    <!--服务地域-->


                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--机构基本信息-->


          <div class="panel panel-default panel2">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-user"></i>
                  公司联系方式
                  <i class="fa fa-angle-down pull-right"></i>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">

                    <div class="form-group clearfix">
                      <label for="contact_username" class="col-sm-3 control-label">
                        <span>*</span>
                        联系人
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="contact_username"   value="{$data['contact_username']}"  name="contact_username"/>
                      </div>
                    </div>
                    <!--联系人-->

                    <div class="form-group clearfix">
                      <label for="contact_mobilephone" class="col-sm-3 control-label">手机</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="contact_mobilephone"   value="{$data['contact_mobilephone']}" name="contact_mobilephone"/>
                      </div>
                    </div>
                    <!--手机 -->

    

                    <div class="form-group clearfix">
                      <label for="contact_telephone" class="col-sm-3 control-label">电话</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="contact_telephone"   value="{$data['contact_telephone']}" name="contact_telephone" />
                      </div>
                    </div>
                    <!--电话-->

                  

                    <div class="form-group clearfix">
                      <label for="contact_email" class="col-sm-3 control-label">邮箱</label>
                      <div class="col-sm-8">
                        <input type="email" class="form-control" id="contact_email"   value="{$data['contact_email']}" name="contact_email"/>
                      </div>
                    </div>
                    <!--邮箱-->

                    <div class="form-group clearfix">
                      <label for="company_wechat" class="col-sm-3 control-label">机构微信</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="company_wechat"   value="{$data['company_wechat']}" name="company_wechat"/>
                      </div>
                    </div>
                    <!--机构微信-->

                    <div class="form-group clearfix">
                      <label for="company_web" class="col-sm-3 control-label">机构网址</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="company_web"   value="{$data['company_web']}" name="company_web"/>
                      </div>
                    </div>
                    <!--机构网址-->
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--公司联系方式-->

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="margin-bottom:30px;">
          <input type="hidden" name='user_id'  value="{$id}"/>
          <input type="submit" class="btn btn-primary btn-block" id="submit" value="保存并前往完善管理团队信息"/>
        </div>
      </div>
    </form>
  </div>
</div>

<include file = "layout:footer"/>