<include file = "layout:header"/>
<include file = "layout:navbar"/>
<div class="content supplierCompanyInfo">
  <div class="container">

      <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default panel3" style="margin-top: 20px;">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa fa-check"></i>
                  管理团队信息
                  <i class="fa fa-angle-down pull-right"></i>
                </a>
              </h4>
            </div>
            <!--已有团队成员-->
            <foreach name="members" item="vo">
                <div id="" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">
                  <div class="panel-body">
                    <div class="repeat_people ">
                      <div class="borderBottom" style="margin-bottom:20px;">
                        <div class="row" >
                          <div class="col-sm-2">
                            
                              <label for="username" class="col-sm-12 control-label"><span>*</span>姓名</label>
        
                          </div>

                          <div class="col-sm-4">

                                <input type="text" class="form-control" id="username" name="username" value="{$vo['username']}" disabled/>

                          </div>

                        </div>

                        <div class="row" style="margin-top:10px;">
                          <div class="col-sm-2">
                            
                              <label for="function" class="col-sm-12 control-label"><span>*</span>职务</label>
        
                          </div>

                          <div class="col-sm-4">

                                <input type="text" class="form-control" id="function" name="function" value="{$vo['function']}" disabled/>

                          </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2 ">
                              <label for="userName" class="col-sm-12 control-label"><b>从业经历</b></label>
                            </div>
                        </div>

                        <div class="repeat">
                          <foreach name="vo['business_experience']" item="business_experience">
                              <div class="row" style="margin-top:10px;">
                                
                                <div class="col-sm-2 ">
                                  <label for="" class="col-sm-12 control-label">公司名称</label>
                                </div>
                                <div class="col-sm-2">
                                      <input type="text" class="col-sm-12 form-control" name="business_experience[company_name][]" value="{$business_experience['company_name']}" disabled/>
                                    </div>
                                <div class="col-sm-8">
                                    
                                    <div class="col-sm-2 ">
                                      <label for="" class="col-sm-12 control-label">职位</label>
                                    </div>
                                    <div class="col-sm-2">
                                      <input type="text" class="form-control" name="business_experience[function][]" value="{$business_experience['function']}" disabled/>
                                    </div>
                                    <div class="col-sm-3 ">
                                      <label for="" class="col-sm-12 control-label">任职年月</label>
                                    </div>
                                    <div class="col-sm-2">
                                      <input type="text" class="form-control" name="business_experience[start_time][]" value="{$business_experience['start_time']}" disabled/>
                                    </div>

                                    <div class="col-sm-1 ">
                                      <label for="" class="col-sm-12 control-label">至</label>
                                    </div>
                                    <div class="col-sm-2">
                                      <input type="text" class="form-control" name="business_experience[end_time][]" value="{$business_experience['end_time']}" disabled/>
                                    </div>
                                </div>

                              </div>
                          </foreach>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>   
            </foreach>

    <form action="" method="post" enctype="multipart/form-data" name='form1'>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <div class="repeat_people ">
                  <div class="borderBottom" style="margin-bottom:20px;">
                    <div class="row" >
                      <div class="col-sm-2">
                        
                          <label for="username" class="col-sm-12 control-label"><span>*</span>姓名</label>
    
                      </div>

                      <div class="col-sm-4">

                            <input type="text" class="form-control" id="username" name="username"  />

                      </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                      <div class="col-sm-2">
                        
                          <label for="function" class="col-sm-12 control-label"><span>*</span>职务</label>
    
                      </div>

                      <div class="col-sm-4">

                            <input type="text" class="form-control" id="function" name="function"  />

                      </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 ">
                          <label for="userName" class="col-sm-12 control-label"><b>从业经历</b></label>
                        </div>
                    </div>

                    <div class="repeat">
                      <div class="row" style="margin-top:10px;">
                        
                        <div class="col-sm-2 ">
                          <label for="" class="col-sm-12 control-label">公司名称</label>
                        </div>
                        <div class="col-sm-2">
                              <input type="text" class="col-sm-12 form-control" name="business_experience[company_name][]"/>
                            </div>
                        <div class="col-sm-8">
                            
                            <div class="col-sm-2 ">
                              <label for="" class="col-sm-12 control-label">职位</label>
                            </div>
                            <div class="col-sm-2">
                              <input type="text" class="form-control" name="business_experience[function][]"/>
                            </div>
                            <div class="col-sm-3 ">
                              <label for="" class="col-sm-12 control-label">任职年月</label>
                            </div>
                            <div class="col-sm-2">
                              <input type="text" class="form-control" name="business_experience[start_time][]"/>
                            </div>

                            <div class="col-sm-1 ">
                              <label for="" class="col-sm-12 control-label">至</label>
                            </div>
                            <div class="col-sm-2">
                              <input type="text" class="form-control" name="business_experience[end_time][]"/>
                            </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-10"></div>
                      <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" id="addNew2">再添加从业经历</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                      <div class="col-sm-2">
                        <input type="submit" class="btn btn-primary btn-block"  value="添加其它高管" onclick="form1.action='__APP__/Home/Register/add_membersInfo';form1.submit();"/>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <!--高管团队-->

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="margin-bottom:30px;">
          <input type="submit" class="btn btn-primary btn-block"  value="保存并前往完善基金产品信息" onclick="form1.action='__APP__/Home/Register/save_membersInfo';form1.submit();"/>
        </div>
      </div>
    </form>
  </div>
</div>

<include file = "layout:footer"/>