<form action="__APP__/Home/Register/uploadtest" method="post" enctype="multipart/form-data">
<div class="form-group">
                      <div class="row">
                        <div class="col-sm-4">
                          <label>{$Think.lang.upload_company_introduction}({$Think.lang.upload_max})</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="file" class="form-control" name="introduction1" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                          <input type="file" class="form-control" name="logo" />
                        </div>
                        <div class="col-sm-8">
                          <input type="file" class="form-control" name="introduction2" />
                        </div>
                        <input type='submit' value='submit'>
</form>