<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
              <include file = "Lp:individualBar"/>
          </div>
          <div class="col-md-8">
            <div class="well">
              <h3>所有消息</h3>
              <hr/>
              
              <div class="row margin_top_20">
                  <div class='col-md-12' >
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist" style="padding-left:15px; padding-right: 15px;">
                        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">已收件</a></li>
                        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">已发件</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                              <div class="panel-body">
                                <div class="list-group">

                                  <div class="list-group-item row form-group">
   
                                      <div class="col-sm-2">
                                        <img class="media-object img-thumbnail" src="/fofs/1/Public/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >万剑一</a>
                                      </div>
                                      <div class="col-sm-5 margin_top_13" >
                                           <a href="#" data-toggle="modal" data-target="#myModal">请问能给我一下你们公司联系方式吗</a>
                                           <!-- Modal -->
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title " id="myModalLabel" style="  padding-left: 28px;margin: 0;">发信人:张小凡</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <span class="label label-info">主题</span>&nbsp;&nbsp;吃饭
                                                    <br/>
                                                    <br/>
                                                    <span class="label label-info">内容</span>&nbsp;&nbsp;明天去不去吃饭呢，风渡嘉荷
                                                    <br/>
                                                    <div class="text_right">2016年10月7日 10:30</div>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <a href="{:U('Home/Individual/sendLetter')}"><button type="button" class="btn btn-primary">回复</button></a>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="col-sm-3 text_right margin_top_13 font_14">
                                          2016年10月7日<span class="label label-default">已读</span>
                                      </div>
                              
                                  </div>
                                  <div class="list-group-item row form-group">
   
                                      <div class="col-sm-2">
                                        <img class="media-object img-thumbnail" src="/fofs/1/Public/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >万剑一</a>
                                      </div>
                                      <div class="col-sm-5 margin_top_13">
                                           <a href="#" >请问能给我一下你们公司联系方式吗</a>
                                      </div>
                                      <div class="col-sm-3 text_right margin_top_13 font_14">
                                          2016年10月7日<span class="label label-default">已读</span>
                                      </div>
                              
                                  </div>

                                  
                                
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                              <div class="panel-body">
                                <div class="list-group">
                                  <div class="list-group-item row form-group">
   
                                      <div class="col-sm-2">
                                        <img class="media-object img-thumbnail" src="/fofs/1/Public/uploads/individual_pic/default.jpg" alt="头像" height="50" width="50"/>
                                      </div>
                                      <div class="col-sm-2 margin_top_13">
                                           <a href="#" >万剑一</a>
                                      </div>
                                      <div class="col-sm-5 margin_top_13">
                                           <a href="#" >请问能给我一下你们公司联系方式吗</a>
                                      </div>
                                      <div class="col-sm-3 text_right margin_top_13 font_14">
                                          2016年10月7日<span class="label label-default">已读</span>
                                      </div>
                              
                                  </div>

                                  
                                
                                </div>
                            </div>


                        </div>
                      </div>
                  </div>
              </div>

               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>