<include file = "Common:header"/>


    <div id="wrapper">

        <include file = "Common:navbar"/>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">查看所有&nbsp;
                        <if condition="$institution_type eq 1">LP</if>
                        <if condition="$institution_type eq 2">GP</if>
                        <if condition="$institution_type eq 3">创业公司</if>
                        <if condition="$institution_type eq 4">Fa机构</if>
                        <if condition="$institution_type eq 5">法务服务机构</if>
                        <if condition="$institution_type eq 6">财务服务机构</if>
                        <if condition="$institution_type eq 7">众创空间(孵化器)</if>
                        <if condition="$institution_type eq 8">其它机构</if>
                        <if condition="$institution_type eq 9">个人用户</if>
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
                        <div class="panel-body">
                            <div class="row">
                                <div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>头像</th>
                                                    <th>名称</th>
                                                    <th>账号</th>
                                                    <th>注册时间</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <foreach name='results' item='vo'>
                                                <tr>
                                                  <td>{$vo['id']}</td>
                                                  <td><img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['institution_logo_img']}" alt="头像" height="50" width="50"/></td>
                                                  <td>{$vo['institution_abbr']}</td>
                                                  <td>{$vo['email']}</td>
                                                  <td><php>echo date('Y-m-d H:i:s',$vo['reg_time']);</php></td>
                                                  <td>
                                                      <a class='btn btn-primary' href="__APP__/Admin/User/{$vo['detail_url']}" target="_blank">详细</a>
                                                      <a class='btn btn-danger' href="__APP__/Admin/User/delete/institution_id/{$vo['id']}/institution_type/{$vo['institution_type']}" onclick="return del()">删除</a>
                                                  </td>
                                                </tr>   
                                              </foreach>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
            <div class="row" style="float:right; margin:0 auto;">
                {$page}
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
<script type="text/javascript"> 
function del(){ 
    if(!confirm("确认要删除？")){ 
        window.event.returnValue = false; 
    } 
}
</script>
<include file = "Common:footer"/>