<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">

          <div class="col-md-10 col-md-offset-1">
            <div class="well">
              <h3>机构主页
                    <a href="#">
                        <if condition="$user['has_followed'] eq 2">

                        <else/>
                            <if condition="$user['has_followed'] eq 1">
                                <span class="label label-warning">已关注</span>
                            <else/>

                                <span class="label label-info" onclick="add_follow({$user['id']},{$user['institution_type']},this);">+关注</span>

                            </if>                 
                        </if>
                    </a>
              </h3>
              <hr/>
              
              <div class="row">
                  <div class='col-md-2'>
                      <a href="#">
                        <if condition="$user['institution_logo_img'] neq NULL">
                          <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/gp_pic/{$user['institution_logo_img']}" alt="头像" height="100" width="100">
                          <else />
                          <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/gp_pic/default.jpg" alt="头像" height="100" width="100"></if>
                      </a>
                  </div>


                  <div class='col-md-10'>
                      <div class="row">
                          <div class='col-md-2 text_right'>
                              中文全称:
                          </div>
                          <div class='col-md-10'>
                              {$user['institution_fullname_cn']}({$user['institution_abbr']})
                          </div>
                      </div>
                      <div class="row">
                          <div class='col-md-2 text_right'>
                              英文全称:
                          </div>
                          <div class='col-md-10'>
                              {$user['institution_fullname_en']}({$user['institution_fullname_en']})
                          </div>
                      </div>
                      <div class="row">
                          <div class='col-md-2 text_right'>
                              简介:
                          </div>
                          <div class='col-md-10'>
                              {$user['institution_abstract']}
                          </div>
                      </div>

                  </div>
              </div>

              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-home"></span>机构基本信息</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  是否联盟成员:
                              </div>
                              <div class='col-md-8'>
                              <switch name="user['is_fofs_member']">
                                  <case value ="1"><span class="label label-info">是</span></case>
                                  <default/><span class="label label-default">不是</span>(<a href='#'>申请认证</a>)
                              </switch>
                              </div>
                          </div>

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  组织机构代码:
                              </div>
                              <div class='col-md-8'>
                                  {$user['organization_code']}
                              </div>
                          </div>

                          <div class="row">
                            <div class='col-md-3 text_right'>注册地址:</div>
                            <div class='col-md-8'>{$user['registered_addr']}</div>
                          </div>

                          <div class="row">
                            <div class='col-md-3 text_right'>办公地址:</div>
                            <div class='col-md-8'>{$user['office_addr']}</div>
                          </div>

                          <div class="row">
                            <div class='col-md-3 text_right'>注册资本:</div>
                            <div class='col-md-8'>{$user['registered_capital']}</div>
                          </div>

                          <div class="row">
                            <div class='col-md-3 text_right'>实缴资本:</div>
                            <div class='col-md-8'>{$user['contributed_capital']}</div>
                          </div>

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  管理基金类型:
                              </div>
                              <div class='col-md-8'>
                                  <if condition="$user['is_securities_fund'] eq 1">证券投资基金</if>
                                  <if condition="$user['is_stock_fund'] eq 1">股权投资基金</if>
                                  <if condition="$user['is_startup_fund'] eq 1">创业投资基金</if>
                                  <if condition="$user['is_other_fund'] eq 1">其它投资基金</if>
                              </div>
                          </div>

                          <div class="row">
                            <div class='col-md-3 text_right'>员工数量:</div>
                            <div class='col-md-8'>{$user['number_of_employees']}</div>
                          </div>

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  中国证券投资基金协会登记:
                              </div>
                              <switch name="user['is_association_registration']">
                                  <case value ="1">
                                      <div class="col-md-2">
                                        <span class="label label-info">已登记</span>
                                      </div>
                                      <div class="col-md-4">
                                        编号 :{$user['association_registration_number']}
                                      </div>
                                      <div class="col-md-3">
                                        时间 :<php>echo date('Y-m-d',$user['association_registration_time']);</php>
                                      </div>
                                  </case>
                                  <default/><span class="label label-default">尚未登记</span>
                              </switch>
                          </div>


                      </div>
                    </div>
                  </div>
              </div>


              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-earphone"></span>联系方式</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  联系人:
                              </div>
                              <div class='col-md-8'>
                                  {$user['contact_username']}
                              </div>
                          </div>

                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  手机:
                              </div>
                              <div class='col-md-8'>
                                  {$user['contact_phone']}
                              </div>
                          </div>
                          <div class="row">
                            <div class='col-md-3 text_right'>邮箱:</div>
                            <div class='col-md-8'>{$user['contact_email']}</div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  传真:
                              </div>
                              <div class='col-md-8'>
                                  {$user['contact_fax']}
                              </div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  机构微信:
                              </div>
                              <div class='col-md-8'>
                                  {$user['contact_institution_wechat']}
                              </div>
                          </div>
                          <div class="row">
                              <div class='col-md-3 text_right'>
                                  机构网站:
                              </div>
                              <div class='col-md-8'>
                                  {$user['contact_institution_web']}
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-user"></span>管理团队</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <!--已有团队成员-->
                          <foreach name="members" item="vo">
                              <div id="" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">
                                <div class="panel-body">
                                  <div class="repeat_people ">
                                    <div class="borderBottom" style="margin-bottom:20px;">
                                      <div class="row" >
                                        <div class="col-sm-3 text_right">
                                          
                                            姓名:
                      
                                        </div>

                                        <div class="col-sm-8">

                                              {$vo['username']}

                                        </div>

                                      </div>

                                      <div class="row" style="margin-top:10px;">
                                        <div class="col-sm-3 text_right">
                                          
                                            职务:
                      
                                        </div>

                                        <div class="col-sm-8">

                                              {$vo['function']}

                                        </div>
                                      </div>

                                      <div class="row">
                                          <div class="col-sm-3 text_right">
                                            从业经历:
                                          </div>
                                      </div>

                                      <div class="repeat">
                                        <foreach name="vo['business_experience']" item="business_experience">
                                            <div class="row" style="margin-top:10px;">
                                              
                                              <div class="col-sm-3 text_right">
                                                    {$business_experience['company_name']}
                                              </div>
                                             
                                                
                                              <div class="col-sm-3">
                                                    {$business_experience['function']}
                                              </div>

                                              <div class="col-sm-6">
                                                {$business_experience['start_time']}-{$business_experience['end_time']}
                                              </div>
                                    
                                            </div>
                                        </foreach>
                                      </div>

                                    </div>
                                  </div>

                                </div>
                              </div>   
                          </foreach>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="row margin_top_20">
                  <div class='col-md-12'>
                    <h3><span class="glyphicon glyphicon-saved"></span>基金产品</h3>
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <!--已有基金产品-->
                          <div class="row" >
                            <div class="col-sm-3 text_right">
                              
                                <label for="userName" ><span>*</span>管理基金数量</label>
          
                            </div>

                            <div class="col-sm-8">

                                  {$total_funds_num}

                            </div>

                          </div>



                          <div class="row" style="margin-top:10px;">
                            <div class="col-sm-3 text_right">
                              
                                <label for="userName" ><span>*</span>基金总规模</label>
          
                            </div>

                            <div class="col-sm-8">

                                  {$total_funds_size}&nbsp;(万人民币)
                            </div>
                          </div>
                          <foreach name="funds" item='vo'>
                            <div class="row">
                                <div class="col-sm-3 text_right">
                                  <span class="glyphicon glyphicon-file"></span><label for="userName" ><b>基金产品 {$key+1}:</b></label>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      基金名称
                                    </div>
                                    <div class="col-sm-8">
                                      {$vo['name']}                            
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      成立时间
                                    </div>
                                    <div class="col-sm-8">
                                      <php>echo date('Y-m-d',$vo['founded_time']);</php>                        
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      注册地点
                                    </div>
                                    <div class="col-sm-8">
                                      {$vo['registered_address']}
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      币种
                                    </div>
                                    <div class="col-sm-8">
                                      <select class="form-control" id="currency_type_id" name="currency_type_id" disabled>
                                      <switch name="vo['currency_type_id']">
                                        <case value='0'><option value='0'>人民币RMB</option></case>
                                        <case value='1'><option value='1'>美元USD</option></case> 
                                        <case value='2'><option value='2'>日元JPY</option></case> 
                                        <case value='3'><option value='3'>欧元EUR</option></case> 
                                        <case value='4'><option value='4'>英镑GBP</option></case> 
                                        <case value='5'><option value='5'>德国马克DEM</option></case> 
                                        <case value='6'><option value='6'>瑞士法郎CHF</option></case> 
                                        <case value='7'><option value='7'>法国法郎FRF</option></case> 
                                        <case value='8'><option value='8'>加拿大元CAD</option></case> 
                                        <case value='9'><option value='9'>澳大利亚元AUD</option></case> 
                                        <case value='10'><option value='10'>港币HKD</option></case> 
                                        <case value='11'><option value='11'>俄罗斯卢布SUR</option></case> 
                                        <case value='12'><option value='12'>新加坡元SGD</option></case> 
                                        <case value='13'><option value='13'>韩国元KRW</option></case> 
                                        <case value='14'><option value='14'>泰铢THB</option></case> 
                                        <case value='15'><option value='15'>奥地利先令ATS</option></case> 
                                        <case value='16'><option value='16'>芬兰马克FIM</option></case> 
                                        <case value='17'><option value='17'>比利时法郎BEF</option></case> 
                                        <case value='18'><option value='18'>爱尔兰镑IEP</option></case> 
                                        <case value='19'><option value='19'>意大利里拉ITL</option></case> 
                                        <case value='20'><option value='20'>卢森堡法郎LUF</option></case> 
                                        <case value='21'><option value='21'>荷兰盾NLG</option></case> 
                                        <case value='22'><option value='22'>葡萄牙埃斯库多PTE</option></case> 
                                        <case value='23'><option value='23'>西班牙比塞塔ESP</option></case> 
                                        <case value='24'><option value='24'>印尼盾IDR</option></case> 
                                        <case value='25'><option value='25'>马来西亚林吉特MYR</option></case> 
                                        <case value='26'><option value='26'>新西兰元NZD</option></case> 
                                        <case value='27'><option value='27'>菲律宾比索PHP</option></case> 

                                      </switch>
                                        


                                      </select>
                  
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      基金规模(万元)
                                    </div>
                                    <div class="col-sm-8">
                                      {$vo['fund_size']}
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      基金类型
                                    </div>
                                    <div class="col-sm-8">
                                        <select name="fund_property" id="fund_property" class="form-control" disabled>


                                          <if condition="$vo['is_angel_investment'] eq 1"><option value ="1">天使投资基金</option></if>
                                          <if condition="$vo['is_vc_investment'] eq 1"><option value ="2">VC基金</option></if>
                                          <if condition="$vo['is_pe_investment'] eq 1"><option value ="3">PE基金</option></if>
                                          <if condition="$vo['is_other_investment'] eq 1"><option value ="4">其它基金</option></if>

                                        </select>                           
                                    </div>

                                </div>

                            </div>


                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      托管人名称
                                    </div>
                                    <div class="col-sm-8">
                                      {$vo['trustee_name']}                          
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      主要投资领域
                                    </div>
                                    <div class="col-sm-4">
                                      {$vo['investment_field']}
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      投资地域
                                    </div>
                                    <div class="col-sm-4">
                                      {$vo['investment_region']}
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      运作状态
                                    </div>
                                    <div class="col-sm-8">
                                      <div class="col-sm-3 ">
                                        <input class="icheckbox_flat-blue"  type="radio"  <php> if($vo['is_recruitment_period']==0) echo' checked';</php>/>
                                        封闭
                                      </div>
                                      <div class="col-sm-3 ">
                                        <input class="icheckbox_flat-blue"  type="radio"  <php> if($vo['is_recruitment_period']==1) echo' checked';</php>/>
                                        募集期
                                      </div>      
                                      <div class="col-sm-2 ">
                                        募集方案
                                      </div>
                                      <div class="col-sm-4 ">
                                          <a href="__ROOT__/Public/uploads/gp_recruitment/{$vo['recruitment_plan_url']}" >{$vo['recruitment_plan_url']}</a>
                                      </div>  

                                                           
                                    </div>

                                </div>

                            </div>


                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-3 text_right">
                                      中基协备案状况
                                    </div>
                                    <div class="col-sm-8">
                                      <div class="col-sm-3 ">
                                        <input class="icheckbox_flat-blue"  type="radio"  <php> if($vo['is_recorded']==0) echo' checked';</php>/>
                                        未备案
                                      </div>
                                      <div class="col-sm-3 ">
                                        <input class="icheckbox_flat-blue"  type="radio"  <php> if($vo['is_recorded']==1) echo' checked';</php>/>
                                        已备案
                                      </div>  
                                      <div class="col-sm-6 ">
                                        (若已备案则填写下面基金编号、备案时间)
                                      </div>                       
                                    </div>

                                </div>

                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <div>
                                    <div class="col-sm-2 text_right">
                                     基金编号:
                                    </div>
            
                                    <div class="col-sm-4 ">
                                      {$vo['fund_number']}
                                    </div>
                                    <div class="col-sm-2 ">
                                      备案时间:
                                    </div>  
                                    <div class="col-sm-4 ">
                                      <php>echo date('Y-m-d',$vo['recorded_time']);</php>
                                    </div>                       
                                  

                                </div>

                            </div>


                            <div class="row">
                                <div class="col-sm-6  ">
                                  <label for="userName" class="col-sm-12 control-label"><b>该基金已投基金/项目</b></label>
                                </div>
                            </div>


                            <div class="">
                            <foreach name="vo['investment_projects']" item="investment_project" key="project_key">
                                      <div class="row" style="margin-top:10px;">
                                          <div>
                                              <div class="col-sm-3 text_right">
                                                <span class="glyphicon glyphicon-tree-deciduous"></span>基金项目{$project_key+1}名称
                                              </div>
                                              <div class="col-sm-8">
                                                {$investment_project['project_name']}                          
                                              </div>

                                          </div>

                                      </div>
                                      <div class="row" style="margin-top:10px;">
                                        
                                          <div>
                                              <div class="col-sm-3 text_right">
                                                基金项目简介
                                              </div>
                                              <div class="col-sm-8">
                                                <textarea class="form-control" id="project_abstract" name="investment_project[project_abstract][]"  disabled>{$investment_project['project_abstract']}</textarea>
                                              </div>

                                          </div>

                                      </div>
                                      <div class="row" style="margin-top:10px;">
                                        
                                          <div>
                                              <div class="col-sm-3 text_right">
                                                投资额度
                                              </div>
                                              <div class="col-sm-4">
                                                  {$investment_project['investment_quota']}                         
                                              </div>
                                              <div class="col-sm-2">
                                                万元
                                              </div>

                                          </div>

                                      </div>
                                      <div class="row" style="margin-top:10px;">
                                        
                                          <div>
                                              <div class="col-sm-3 text_right">
                                                项目投资轮次
                                              </div>
                                              <div class="col-sm-4">
                                                {$investment_project['investment_round']}
                                              </div>
                                              <div class="col-sm-2">
                                                (基金无)
                                              </div>

                                          </div>

                                      </div>
                                      <div class="row" style="margin-top:10px;">
                                        
                                          <div>
                                              <div class="col-sm-3 text_right">
                                                投资时间
                                              </div>
                                              <div class="col-sm-4">
                                                <php> echo date('Y-m-d',$investment_project['investment_time']);</php>                  
                                              </div>

                                          </div>

                                      </div>
                                      <div class="row borderBottom" style="margin-top:10px;">
                                        
                                          <div>
                                              <div class="col-sm-3 text_right">
                                                项目现状
                                              </div>
                                              <div class="col-sm-4">
                                                  <select name="investment_project[project_state_type][]" id="project_state_type" class="form-control" disabled>
                                                        <switch name="investment_project['project_state_type']">
                                                              <case value="1"><option value ="1">死亡</option></case>
                                                              <case value="2"><option value ="2">Pre-IPO</option></case>
                                                              <case value="3"><option value ="3">M&A</option></case>
                                                              <case value="4"><option value ="4">上市</option></case>
                                                        </switch>
                                                  </select>  
                                              </div>

                                          </div>

                                      </div>
                            </foreach>
                             

                          </foreach>
                      </div>
                    </div>
                  </div>
              </div>
               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>