<include file = "layout:header"/>
<include file = "layout:navbar"/>
 <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-10 main-content col-md-offset-1">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="panel-title">
                     GP条件搜索
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                      <div class='col-md-12 ' >
                        
                          <div class="panel-body well">
                              <div class="row">
                                  <div class='col-md-2 text_right' class="form-control" style="margin-top:6px;">
                                      基金类型
                                  </div>
                                  <div class="col-md-10">
                                      <div class='col-md-3 ' >
                                          <select name="fund_type" id="fund_type" class="form-control">
                                            <option value ="0" >任意</option>
                                            <option value ="is_angel_investment" >天使投资基金</option>
                                            <option value="is_vc_investment" >VC基金</option>
                                            <option value="is_pe_investment" >PE基金</option>
                                            <option value ="is_other_investment" >其它基金</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>

                              <div class="row margin_top_13">
                                    <div class="col-md-2 text_right">
                                      投资类型
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-3 ">
                                        <input class="icheckbox_flat-blue" id="is_securities_fund" type="checkbox" name="is_securities_fund"/>
                                          证券投资基金
                                        </div>
                                        <div class="col-md-3 ">
                                          <input class="icheckbox_flat-blue" id="is_stock_fund" type="checkbox" name="is_stock_fund"/>
                                          股权投资基金
                                        </div>
                                        <div class="col-md-3 ">
                                          <input class="icheckbox_flat-blue" id="is_startup_fund" type="checkbox" name="is_startup_fund"/>
                                          创业投资基金
                                        </div>
                                        <div class="col-md-3 ">
                                          <input class="icheckbox_flat-blue" id="is_other_fund" type="checkbox" name="is_other_fund"/>
                                          其它投资基金
                                        </div>                        
                                     </div>
                              </div>

                              <div class="row margin_top_13">
                                  <div class="col-md-2 text_right">
                                    投资领域
                                  </div>
                                  <div class="col-md-10">
                                      <div class="col-md-8">
                                        <input class="form-control" id='investment_field' name="investment_field"  />  
                                      </div>         
                                  </div>

                              </div>

                              <div class="row margin_top_13">
                                  <div class="col-md-2 text_right">
                                    投资地域
                                  </div>
                                  <div class="col-md-10">
                                      <div class="col-md-8">
                                        <input class="form-control" id='investment_region' name="investment_region" placeholder="海外/全国范围/某省某市" />  
                                      </div>         
                                  </div>

                              </div>


                              <div class="row margin_top_13">
                                  <div class='col-md-2 text_right' style="margin-top:6px;">
                                      
                                 
                                      
                                  </div>
                                  <div class='col-md-9 text_right' >

                                      <input type="submit" name="end_sign" id='gp_search' value="一键搜索" class="btn btn-info">
                                      
                                  </div>
                              </div>

                          </div>

                      </div>

                      <div class='col-md-12' >
                                <div class="panel-body">
                                    <div class="list-group" id='gp_results'>
                                      
                                    </div>
                                </div>
                      </div>
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body center">
                    <ul class="pagination" id='pages'>

                    </ul>
                  </div>
                </div>
                <input type="hidden" id='gp_img_url_index' value="__PUBLIC__/uploads/gp_pic/">
                <input type="hidden" id='gp_profile_url_index' value="__APP__/Home/Search/gpProfile">
                <input type="hidden" id='user_id' value="<php> echo session('user_id');</php>">
                <input type="hidden" id='institution_type' value="<php> echo session('institution_type');</php>">
              </div><!--新闻列表-->


            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>