<include file = "layout:header"/>
<include file = "layout:navbar"/>
 <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-10 main-content col-md-offset-1">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="panel-title">
                     搜索结果
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                      <div class='col-md-12' >
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist" style="padding-left:15px; padding-right: 15px;">
                            <li role="presentation" class="<php>if($search_type==1) echo 'active';</php>"><a href="{:U('Home/Search/search?search_type=1')}" >所有</a></li>
                            <li role="presentation" class="<php>if($search_type==2) echo 'active';</php>"><a href="{:U('Home/Search/search?search_type=2')}" >文章</a></li>
                            <li role="presentation" class="<php>if($search_type==3) echo 'active';</php>"><a href="{:U('Home/Search/search?search_type=3')}" >机构</a></li>
                            <li role="presentation" class="<php>if($search_type==4) echo 'active';</php>"><a href="{:U('Home/Search/search?search_type=4')}" >用户</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane <php>if($search_type==1) echo 'active';</php>" id="all">
                                  <div class="panel-body">
                                    <div class="list-group">
                                        <foreach name="articles" item="vo">
                                          <div class="list-group-item row form-group">
                                            <div class="col-sm-2">
                                                 <span class="glyphicon glyphicon-file"></span>文章-{$key+1}
                                            </div>
                                            <div class='col-md-6'>
                                                {$vo['title']}
                                            </div> 
                                            <div class='col-md-4 text_right'>
                                                <span class="glyphicon glyphicon-calendar"></span>
                                                <php>echo date('Y-m-d H:i:s',$vo['pub_time'])</php>
                                          
                                                <a href="{:U('Home/Index/articleDetail')}?article_id={$vo['id']}" target="_blank">详情</a>
                                            </div>
                                          </div>
                                        </foreach>

                                        <foreach name="institutions" item="vo">
                                                <div class="list-group-item row form-group">
                                                    <div class="col-sm-2 margin_top_13">
                                                         <span class="glyphicon glyphicon-tower"></span>机构-{$key+1}
                                                    </div>
                                               
                                                    <div class="col-sm-3">
                                                      <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['institution_logo_img']}" alt="头像" height="50" width="50"/>
                                                    </div>
                                                    <div class="col-sm-3 margin_top_13">
                                                         <a href="#" >{$vo['institution_abbr']}</a>
                                                    </div>
                                                    <div class="col-sm-4 text_right margin_top_13">
                                                        <a href="__APP__/Home/Search/{$vo['detail_url']}" target='_blank'>详情</a>
                                                        
                                                    </div>
                                                    
                                            
                                                </div>
                                        </foreach>

                                        <foreach name="users" item="vo">
                                                <div class="list-group-item row form-group">
                                                    <div class="col-sm-2 margin_top_13">
                                                      <span class="glyphicon glyphicon-user"></span>用户-{$key+1}
                                                    </div>
                                               
                                                    <div class="col-sm-3">
                                                      <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['institution_logo_img']}" alt="头像" height="50" width="50"/>
                                                    </div>
                                                    <div class="col-sm-3 margin_top_13">
                                                         <a href="#" >{$vo['institution_abbr']}</a>
                                                    </div>
                                                    <div class="col-sm-4 text_right margin_top_13">
                                                        <a href="__APP__/Home/Search/{$vo['detail_url']}" target='_blank'>详情</a>
                                                    </div>
                                                    
                                            
                                                </div>
                                        </foreach>

                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane <php>if($search_type==2) echo 'active';</php>" id="articles">
                                  <div class="panel-body">
                                    <div class="list-group">
                                        <foreach name="articles" item="vo">
                                          <div class="list-group-item row form-group">
                                            <div class="col-sm-1">
                                                 <span class="glyphicon glyphicon-file"></span>{$key+1}
                                            </div>
                                            <div class='col-md-7'>
                                                {$vo['title']}
                                            </div> 
                                            <div class='col-md-4 text_right'>
                                                <span class="glyphicon glyphicon-calendar"></span>
                                                <php>echo date('Y-m-d H:i:s',$vo['pub_time'])</php>
                                          
                                                <a href="{:U('Home/Index/articleDetail')}?article_id={$vo['id']}" target="_blank">详情</a>
                                            </div>
                                          </div>
                                        </foreach>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane <php>if($search_type==3) echo 'active';</php>" id="institutions">

                                  <div class="panel-body">
                                    <div class="list-group">
                                      <foreach name="institutions" item="vo">
                                                <div class="list-group-item row form-group">
                                                    <div class="col-sm-2 margin_top_13">
                                                         <span class="glyphicon glyphicon-tower"></span>{$key+1}
                                                    </div>
                                               
                                                    <div class="col-sm-3">
                                                      <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['institution_logo_img']}" alt="头像" height="50" width="50"/>
                                                    </div>
                                                    <div class="col-sm-3 margin_top_13">
                                                         <a href="#" >{$vo['institution_abbr']}</a>
                                                    </div>
                                                    <div class="col-sm-4 text_right margin_top_13">
                                                        <a href="__APP__/Home/Search/{$vo['detail_url']}" target='_blank'>详情</a>
                                                        
                                                    </div>
                                                    
                                            
                                                </div>
                                        </foreach>

                                      
                                    
                                    </div>
                                </div>


                            </div>

                            <div role="tabpanel" class="tab-pane <php>if($search_type==4) echo 'active';</php>" id="users">

                                  <div class="panel-body">
                                    <div class="list-group">
                                      
                                        <foreach name="users" item="vo">
                                                <div class="list-group-item row form-group">
                                                    <div class="col-sm-2 margin_top_13">
                                                         <span class="glyphicon glyphicon-user"></span>{$key+1}
                                                    </div>
                                               
                                                    <div class="col-sm-3">
                                                      <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['institution_logo_img']}" alt="头像" height="50" width="50"/>
                                                    </div>
                                                    <div class="col-sm-3 margin_top_13">
                                                         <a href="#" >{$vo['institution_abbr']}</a>
                                                    </div>
                                                    <div class="col-sm-4 text_right margin_top_13">
                                                        <a href="__APP__/Home/Search/{$vo['detail_url']}" target='_blank'>详情</a>
                                                    </div>
                                                    
                                            
                                                </div>
                                        </foreach>
                                      
                                    
                                    </div>
                                </div>


                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body center">

                  </div>
                </div>
              </div><!--新闻列表-->


            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>