<include file = "layout:header"/>
<include file = "layout:navbar"/>
<div class="content forget">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="col-sm-6">
              <h1>
                <a href="#personal_forgetpassword" id="personal_forget" data-toggle="tab" style="color:black;text-decoration:none;">个人找回</a>
                |
                <a href="#institution_forgetpassword" id="institution_forget" data-toggle="tab" style="color:#AFACAC;text-decoration:none;">机构找回</a>
                密码
              </h1>
            </div>
            <div class="col-sm-2">
              <div class="step active">
                01
              </div>
            </div>
            <div class="col-sm-2">
              <div class="step">
                02
              </div>
            </div>
            <div class="col-sm-2">
              <div class="step">
                03
              </div>
            </div>
          </div>
          <div class="panel-body">
            
            <div id="myTabContent" class="tab-content">
            
              <div class="tab-pane fade in active" id="personal_forgetpassword">
                  <form action="__APP__/Home/Password/send_mail_institution" method="post">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="{$Think.lang.enter_your_registered_email_address}"/>
                        <input type="hidden" name="institution_type" value="9"/>
                      </div>
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" name="submit" value="个人找回密码"/>
                      </div>
                  </form>
              </div>
            
            
              <div class="tab-pane fade" id="institution_forgetpassword">
                <form action="__APP__/Home/Password/send_mail_institution" method="post">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="{$Think.lang.enter_your_registered_email_address}"/>
                  </div>
                  <div class="form-group">
                    <select style="width:100%;height:40px;font-size:14px;color:#999;padding:6px 8px;" name="institution_type">
                      <option value ="0">请选择机构类型</option>
                      <option value ="1">LP</option>
                      <option value="2">GP</option>
                      <option value="3">创业公司</option>
                      <option value ="4">FA机构</option>
                      <option value="5">法务机构</option>
                      <option value="6">财务机构</option>
                      <option value ="7">众创空间</option>
                      <option value="8">其它(媒体、政府机构等)</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" name="submit" value="机构找回密码"/>
                  </div>
                </form>
              </div>
            
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<include file = "layout:footer"/>