<include file = "Common:header"/>


    <div id="wrapper">

        <include file = "Common:navbar"/>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">添加信息技术与物流能力问题</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <form action='__APP__/Admin/Company/add_new_ability' method='post'>
                <div class="form-group col-sm-6">
                    <label>信息技术与物流能力问题名称</label>
                    <input class='form-control' id='question' placeholder='信息技术与物流能力问题名称' type='text' name='question'/>
                </div>
              <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label>英文</label>
                    <input class='form-control' id='question_en' placeholder='英文' type='text' name='question_en'/>
                </div>
              <div class="clearfix"></div>
                <div class="form-group col-sm-6">
                    <label>选项类型</label>
                    <select name="is_multiple_answer" class="form-control">
                      <option value="1">多选</option>
                      <option value="0">单选</option>
                    </select>
                </div>
              <div class="clearfix"></div>
                <div class="col-sm-6">
                    <button class='btn btn-primary'>提交</button>
                </div>
            </form>
          </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

<include file = "Common:footer"/>