{$Think.lang.lang_chinese}
{$Think.lang.lang_english}
 <hr/>
 <script type="text/javascript"></script>
 <a href="?l=zh-cn" style="font-size:13px;">简体中文</a> | 
 <a href="?l=en-us" style="font-size:13px;">English</a>
<script src="http://selectin.applinzi.com/Public/assets_1/public/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/assets_1/js/jquery.cookie.js"></script>
<script type="text/javascript">

	if($.cookie('lang')){
		//alert($.cookie('lang'));
	}else{
		
		var type=navigator.appName
		if (type=="Netscape"){
			var lang = navigator.language
		}
		else{
			var lang = navigator.userLanguage
		}

		//取得浏览器语言的前两个字母
		var lang = lang.substr(0,2)
		// 英语
		if (lang == "en"){
			$.cookie('lang', lang); //设置cookie的值 
			window.location.href="?l=en-us"
		}
		// 中文 - 不分繁体和简体
		else if (lang == "zh"){
			$.cookie('lang', lang); //设置cookie的值 
			window.location.href="?l=zh-cn"
			
		}
		// 除上面所列的语言
		else{
			$.cookie('lang', lang); //设置cookie的值 
			window.location.href="?l=en-us"
		}
	}
</script>
