            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><span class="glyphicon glyphicon-home"></span>北京乐享奇迹信息科技有限公司</div>
                <div class="panel-body">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <if condition="$user['face_url'] neq NULL">
                          <img class="media-object img-thumbnail" src="/fofs/1/Public/uploads/individual_pic/default.jpg" alt="头像" height="100" width="100">
                        <else />
                          <img class="media-object img-thumbnail" src="/fofs/1/Public/uploads/individual_pic/default.jpg" alt="头像" height="100" width="100">
                        </if>
                      </a>
                    </div>
                    <div class="media-body" style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                      <h5 class="media-heading">{$user['username']}</h5>
                      <p><i class="fa fa-envelope-o fa-md"></i> {$user['email']}</p>
                      <p><i class="fa fa-phone fa-md"></i> {$user['mobile_phone']}</p>
                      <a class="btn btn-default" href="buyerPersonalInfo" role="button">{$Think.lang.edit_personal_profile}</a>
                    </div>
                  </div>
                </div>
              </div><!--头像-->

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                    <a href="{:U('Home/Individual/individualProfile')}">
                      <span class="glyphicon glyphicon-user"></span>个人主页
                      
                    </a>
                  </div>
                </div>
              </div><!--个人主页-->

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                    <a href="{:U('Home/Individual/myCompany')}">
                      <span class="glyphicon glyphicon-home"></span>我的公司
                      
                    </a>
                  </div>
                </div>
              </div><!--我的公司-->

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                    <a href="{:U('Home/Individual/accountSetting')}">
                      <span class="glyphicon glyphicon-pencil"></span>账号设置
                      
                    </a>
                  </div>
                </div>
              </div><!--账号设置-->

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                    <a href="{:U('Home/Individual/inbox')}">
                      <span class="glyphicon glyphicon-envelope"></span>消息
                      <if condition="$amount['unread'] neq 0">
                        <span class="badge">{$amount['unread']}</span>
                      </if>
                    </a>
                  </div>
                </div>
              </div><!--消息-->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <span class="glyphicon glyphicon-globe"></span>圈子
                    </a>
                  </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="list-group">
                      <a href="{:U('Home/Individual/myFollows')}" class="list-group-item">关注我的<span class="badge">{$amount['checking']}</span></a>
                      <a href="{:U('Home/Individual/myFollowing')}" class="list-group-item ">我关注的<span class="badge">{$amount['accepted']}</span></a>
                      
                    </div>
                  </div>
                </div>
              </div><!--圈子-->
            </div>