<include file = "layout:header"/>
<include file = "layout:navbar"/>
  <div class="buyProfile content" style="margin-top:30px;    background-color: #F9F7F6;">

    <section class="content-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-4 main-content">
              <include file = "Sa:individualBar"/>
          </div>
          <div class="col-md-8">
            <div class="well">
              <h3>所有消息</h3>
              <hr/>
              
              <div class="row margin_top_20">
                  <div class='col-md-12' >
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist" style="padding-left:15px; padding-right: 15px;">
                        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">已收件</a></li>
                        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">已发件</a></li>
                        <li role="presentation"><a href="#staff_auths" role="tab" data-toggle="tab">待认证请求</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                              <div class="panel-body">
                                <div class="list-group">
                                  <foreach name="received_mails" item="vo">
                                      <div class="list-group-item row form-group">
       
                                          <div class="col-sm-2">
                                            <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['institution_logo_img']}" alt="头像" height="50" width="50"/>
                                          </div>
                                          <div class="col-sm-2 margin_top_13">
                                               <a href="#" >{$vo['sender_name']}</a>
                                          </div>
                                          <div class="col-sm-5 margin_top_13" >
                                               <a href="#" data-toggle="modal" data-target="#myModal_se_{$vo['id']}">{$vo['title']}</a>
                                               <!-- Modal -->
                                                <div class="modal fade" id="myModal_se_{$vo['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title " id="myModalLabel" style="  padding-left: 28px;margin: 0;">发信人:{$vo['sender_name']}</h4>
                                                      </div>
                                                      <div class="modal-body">
                                                        <span class="label label-info">主题</span>&nbsp;&nbsp;{$vo['title']}
                                                        <br/>
                                                        <br/>
                                                        <span class="label label-info">内容</span>&nbsp;&nbsp;{$vo['content']}
                                                        <br/>
                                                        <div class="text_right"><php>echo date('Y-m-d H:i:s',$vo['time']);</php></div>
                                                      </div>
                                                      <div class="modal-footer">
                                                        <a href="{:U('Home/Gp/sendLetter')}?user_id={$vo['sender_id']}&institution_type={$vo['sender_type']}&username={$vo['sender_name']}"><button type="button" class="btn btn-primary">回复</button></a>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                          </div>
                                          <div class="col-sm-3 text_right margin_top_13 font_14">
                                             <php>echo date('Y-m-d H:i:s',$vo['time']);</php><!-- <span class="label label-default">已读</span> -->
                                          </div>
                                  
                                      </div>
                                  </foreach>
                                  
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">

                              <div class="panel-body">
                                <div class="list-group">
                                  <foreach name="sended_mails" item="vo">
                                      <div class="list-group-item row form-group">
       
                                          <div class="col-sm-2">
                                            <img class="media-object img-thumbnail" src="__PUBLIC__/uploads/{$vo['institution_logo_img']}" alt="头像" height="50" width="50"/>
                                          </div>
                                          <div class="col-sm-2 margin_top_13">
                                               <a href="#" >{$vo['recipient_name']}</a>
                                          </div>
                                          <div class="col-sm-5 margin_top_13" >
                                               <a href="#" data-toggle="modal" data-target="#myModal_re_{$vo['id']}">{$vo['title']}</a>
                                               <!-- Modal -->
                                                <div class="modal fade" id="myModal_re_{$vo['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title " id="myModalLabel" style="  padding-left: 28px;margin: 0;">收信人:{$vo['recipient_name']}</h4>
                                                      </div>
                                                      <div class="modal-body">
                                                        <span class="label label-info">主题</span>&nbsp;&nbsp;{$vo['title']}
                                                        <br/>
                                                        <br/>
                                                        <span class="label label-info">内容</span>&nbsp;&nbsp;{$vo['content']}
                                                        <br/>
                                                        <div class="text_right"><php>echo date('Y-m-d H:i:s',$vo['time']);</php></div>
                                                      </div>
                                                      <div class="modal-footer">
                                                        
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                          </div>
                                          <div class="col-sm-3 text_right margin_top_13 font_14">
                                             <php>echo date('Y-m-d H:i:s',$vo['time']);</php><!-- <span class="label label-default">已读</span> -->
                                          </div>
                                  
                                      </div>
                                  </foreach>
                                  
                                </div>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane" id="staff_auths">

                              <div class="panel-body">
                                <div class="list-group">
                                  <foreach name="staff_auths" item="vo">
                                      <div class="list-group-item row form-group">
      
                                          <div class="col-sm-2 ">
                                               <a href="#" >{$vo['user_name']}</a>
                                          </div>
                                          <div class="col-sm-4 " >
                                               <a href="#" data-toggle="modal" data-target="#myModal_re_{$vo['id']}">请求认证为本公司成员</a>
                                          </div>
                                          <div class="col-sm-2 text_right font_14">
                                             <php>echo date('Y-m-d',$vo['req_time']);</php><!-- <span class="label label-default">已读</span> -->
                                          </div>
                                          <div class="col-sm-4 ">
                                            <switch name="vo['state']">
                                                <case value ="-1">
                                                  <a href="{:U('Home/Lp/auth_approve',array('auth_id'=>$vo['id']))}"><span class="label label-info">通过</span></a>
                                                  <a href="{:U('Home/Lp/auth_deny',array('auth_id'=>$vo['id']))}"><span class="label label-danger">拒绝</span></a>
                                                </case>
                                                <case value ="1">
                                                  <span class="label label-info">已认证</span>
                                                </case>
                                                <case value ="2">
                                                  <span class="label label-danger">已拒绝</span>
                                                </case>
                                            </switch>
                                          </div>
                                  
                                      </div>
                                  </foreach>
                                  
                                </div>
                            </div>


                        </div>
                      </div>
                  </div>
              </div>

               &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<include file = "layout:footer"/>